mixin checkoutDelivery(item, settings = {})
	- settings[item.type] = true;
	#{settings.tag || 'div'}(class= classes('checkout-delivery', settings) data-delivery= item.type)&attributes(attributes)
		h3.checkout-delivery__title !{item.title}
		p.checkout-delivery__description !{item.description}
		button(class= settings.active ? 'button-primary--black' : '' data-modal=`delivery-${item.type}`).js-modal.checkout-delivery__button.button-primary
			if (settings.active)
				span.button__caption Изменить
			else
				span.button__caption Выбрать
