mixin cartService
	.cart-service&attributes(attributes)
		a(href='#').cart-service__item.cart-service__item--print Распечатать
		a(href='modal-cost-estimate').js-modal.cart-service__item.cart-service__item--save Сохранить смету
