-
	const $socials = [
		{
			id: "vk",
			classname: "vk",
			name: "В Контакте",
			url: "javascript:void(0);",
		},
		{
			id: "telegram",
			classname: "telegram",
			name: "Telegram",
			url: "javascript:void(0);",

		},
		{
			id: "youtube",
			classname: "youtube",
			name: "Youtube",
			url: "javascript:void(0);",
		}
	];
