.container
	width: 100%
	max-width: 100%
	margin: 0 auto
	padding: 0 $size.padding.mobile

	+media(tablet)
		padding: 0 $size.padding.tablet

	+media(desktop)
		max-width: $size.container.primary + $size.padding.desktop * 2
		padding: 0 $size.padding.desktop

	.container
		padding: 0
