-
	const mobileSearch = [
		{
			name: 'Ламинат',
			href: 'javascript:void(0);',
		},
		{
			name: 'Пороги',
			href: 'javascript:void(0);',
		},
		{
			name: 'Паркетная химия',
			href: 'javascript:void(0);',
		},
		{
			name: 'Пробковый паркет',
			href: 'javascript:void(0);',
		},
		{
			name: 'Инженерная доска',
			href: 'javascript:void(0);',
		},
		{
			name: 'Линолеум',
			href: 'javascript:void(0);',
		},
		{
			name: 'Услуги',
			href: 'javascript:void(0);',
		},	  
	]
	

