include ../../data/helpData

section.section.help.js-help
    .container
        .section__prolog.help__prolog
            h2.section__header.help__header Управдом поможет
            button.color-button.help__show(type="button") Смотреть все
        .section__inner.help__inner.help-slider.swiper
            .help-slider__inner.swiper-wrapper
                each item in helpData
                    +helpItem(item)
        .section__epilog.help__epilog
            button.color-button.help__show(type="button") Смотреть все
