.co-working {
	position: relative;

	&__header {
		margin-bottom: 24px;
	}

	&__inner {
		+media(tablet) {
			overflow: visible;
		}
	}
}

.co-worker {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	overflow: hidden;

	font-size: 12px;

	background-color: $color.option.gray;
	border-radius: 12px;

	&__text {
		display: flex;
		flex-flow: column nowrap;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		padding: 17px 13px;

		font-weight: 350;
		text-align: center;

		+media(tablet) {
			flex-basis: 50%;
			align-items: flex-start;
			min-height: 300px;
			padding: 28px 20px;

			text-align: left;
		}

		+media(desktop) {
			padding: 70px 80px;

			font-size: 24px;
		}

	}

	&__caption {
		margin-bottom: 8px;

		font-weight: 600;
		font-size: 16px;

		+media(tablet) {
			margin-bottom: 20px;

			font-size: 24px;
		}

		+media(desktop) {
			margin-bottom: 24px;

			font-size: 28px;
		}
	}

	&__image {
		aspect-ratio: 1.81;

		+media(tablet) {
			flex-basis: 50%;
			aspect-ratio: 1.87;
		}

		+media(desktop) {
			aspect-ratio: 1.69;
		}
	}

	+media(tablet) {
		flex-direction: row;
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 24px;

		font-size: 24px;
	}

}

.co-workers {
	&__item {
		min-height: 280px;

		&--reverse {
			flex-direction: column-reverse;

			+media(tablet) {
				flex-direction: row-reverse;
			}
		}
	}

	+media(tablet) {
		display: block;
	}

}
