mixin modal-callback(header, text)
	-
		$header = header || 'Обратный звонок'
		$text = 'Подскажем, как выбрать лучше'
	.modal-callback
		h4.modal-callback__header #{$header}
		p.modal-callback__text #{$text}
		form.form.js-form.modal-callback-form(action='./response/callback.json', name='modal-callback', method='post', enctype='application/x-www-form-urlencoded' autocomplete="off" novalidate)
			.form__inner
				fieldset.form__fieldset.form-fieldset
					+field('tel', 'phone', true, '', 'Телефон', '+7 (999) 999-99-99','', false, false).form__field.required
				.form__buttons
					button.button.form__submit.form__submit--callback.js-form-submit(type="submit", aria-label="Заказать звонок", disabled)
						span.button__caption Заказать звонок
