.checkout-pickup-item
	position relative
	display flex
	flex-direction column
	gap 6px
	padding 12px
	border-radius 12px
	+isHover()
		transition background-color var(--transition-primary)
	+hover()
		background-color var(--color-option-gray)
	+media-interval(tablet, desktop)
		text-align center
		align-items center
	label&
		+isHover()
			cursor pointer
	&:has(:checked)
		background-color var(--color-primary-white)
		+hover()
			background-color var(--color-primary-white)
		+before()
			position absolute
			inset -2px
			z-index -1
			background-image var(--color-gradient-primary)
			border-radius 14px
	@supports @css{ not selector(:has()) }
		&--active
			background-color var(--color-primary-white)
			+hover()
				background-color var(--color-primary-white)
			+before()
				position absolute
				inset -2px
				z-index -1
				background-image var(--color-gradient-primary)
				border-radius 14px
	&__title
		font-size 18px
		font-weight 600
	&__radio
		display none
		&:checked ~ ^[-1]__button
			display block
	&__button
		display none
		width fit-content
