.tabs.js-tabs.is-slider
	.tabs__header.tabs-header
		.tabs-header__list.tabs-captions
			button.tabs-captions__item.tabs-caption.js-tabs-caption.js-active(type="button" data-target="0") Хиты продаж
			button.tabs-captions__item.tabs-caption.js-tabs-caption(type="button" data-target="1") Новинки
			button.tabs-captions__item.tabs-caption.js-tabs-caption(type="button" data-target="2") Акции

		.tabs-header__widgets.tabs-widgets.js-tabs-widgets
			.js-tabs-widget(data-slider="0")
				button.button-control.tabs-widgets__button.js-slider--prev(type="button")
					+icon('l_arrow-left')
				button.button-control.tabs-widgets__button.js-slider--next(type="button")
					+icon('l_arrow-right')
			.js-tabs-widget(data-slider="1").visually-hidden
				button.button-control.tabs-widgets__button.js-slider--prev(type="button")
					+icon('l_arrow-left')
				button.button-control.tabs-widgets__button.js-slider--next(type="button")
					+icon('l_arrow-right')
			.js-tabs-widget(data-slider="2").visually-hidden
				button.button-control.tabs-widgets__button.js-slider--prev(type="button")
					+icon('l_arrow-left')
				button.button-control.tabs-widgets__button.js-slider--next(type="button")
					+icon('l_arrow-right')

			
	.tabs__content.tabs-content
		.tabs-content__inner.tabs-pages
			.tabs-pages__item.tabs-page.js-tabs-page.js-active(data-page="0")
				.tabs-page__inner
					.page-wrapper
						include pages/page-1

			.tabs-pages__item.tabs-page.js-tabs-page(data-page="1")
				.tabs-page__inner
					.page-wrapper
						include pages/page-2

			.tabs-pages__item.tabs-page.js-tabs-page(data-page="2")
				.tabs-page__inner
					.page-wrapper
						include pages/page-3

