extends ../../config/pug/layout

block append config
	-
		pageName = 'Главная страница';
		style = 'style-main';
		headerType = 'default'
		footerType = 'default'
		scripts = ['script-main'];
		bodyClass = 'main'

block variables

block main

block append modals
