@import '../../config/styles/variables.styl'
@import '../../config/styles/mixins.styl'
@import '../../../node_modules/swiper/swiper-bundle.min.css'
@import '../../config/styles/swiper/swiper--style-default.styl'
@import '../../config/styles/simplebar/simplebar--style-default.styl'
@import '../../components/hero/hero.styl'
@import '../../components/recommended/recommended.styl'
@import '../../components/recommended/categories.styl'
@import '../../components/actions/actions.styl'
@import '../../components/help/help.styl'
@import '../../components/inspiration/inspirations.styl'
@import '../../components/co-working/co-working.styl'

