include ../../data/mobile-navigation/mobile-navigation
	
mixin mobileNavigation(fixed)
	-
		isFixed = fixed || false
	nav.mobile-navigation.js-mobile-navigation(class={'mobile-navigation--fixed': isFixed === 'fixed'})
		each nav in mobileNavigation
			if nav.modal
				+bitButton(nav)(data-modal=nav.modal)
			else
				+bitButton(nav)
