-
	const mobileNavigation = [
		{
			id: 'home',
			type: 'link',
			href: '/',
			title: 'Главная',
			classname: 'mobile-navigation__item bit-button--white js-mobile-navigation-item js-active',
			caption: 'Главная'
		},
		{
			id: 'catalog',
			type: 'button',
			classname: 'bit-button--white mobile-navigation__catalog js-mobile-navigation-item js-mobile-catalog--open',
			title: 'Каталог',
			caption: 'Каталог',
		},
		{
			id: 'busket',
			type: 'button',
			href: 'javascript:void(0);',
			title: 'Корзина',
			classname: 'bit-button--white mobile-navigation__busket js-mobile-navigation-item js-mobile-busket--open',
			caption: 'Корзина'
		},
		{
			id: 'profile',
			type: 'link',
			href: 'javascript:void(0);',
			title: 'Профиль',
			classname: 'bit-button--white mobile-navigation__profile js-mobile-navigation-item js-modal',
			modal: 'modal-login',
			caption: 'Профиль'
		}	  
	]
