include ../../components/icon/icon
include ../../components/header/header
include ../../components/footer/footer
include ../../components/picture/picture
include ../../components/modal/modal
include ../../components/modal/modal-accepted/modal-accepted
include ../../components/modal/modal-subscribe-success/modal-subscribe-success

