section.section.actions
	.container
		h2.section__header.visually-hidden Акции, скидки, рассрочки, выгодные комплекты
		a.actions__banner.page-image(href="#" title="Акции, скидки, рассрочки, выгодные комплекты")
			+picture('action-banner/action-banner', {
				alt: 'Акции, скидки, рассрочки, выгодные комплекты',
				responsive: [
					{
						media: 'laptop'
					},
					{
						media: 'tablet'
					},
					{
						media: 'mobile'
					},
					
				]
			})
