//- открывается по классу cookie--open
mixin cookie()
	.cookie.visually-hidden--mobile.js-cookie&attributes(attributes)
		.cookie__text
			p На нашем сайте мы используем cookie файлы
			a.cookie__link(href="#" title="Узнать подробнее") Узнать подробнее
		button.cookie__close.js-cookie-close(type="button") 
			span.cookie__caption Понятно
