.personal-nav
	display: none

	+media(desktop)
		display: block
		margin-bottom: 24px
		padding: 16px 32px

		background-color: $color.background.primary
		border-radius: 25px
		box-shadow: 0 0 10px 0 alpha($color.option.dark-gray, 30%)

	&__element
		padding: 16px 0

		border-bottom: 1px solid $color.option.gray

		&:last-child
			border-bottom: none

	&__item
		display: flex
		align-items: center

		.icon
			flex-shrink: 0
			width: 20px
			height: 20px
			margin-right: 12px

		+hover()
			color: $color.option.orange

		+active()
			color: $color.option.orange

		&.active
			color: $color.option.orange

			pointer-events: none
