mixin personal-nav(data = [], options = {})
	-
		options = {
			active: options.active || ''
		}

	nav.personal-nav&attributes(attributes)
		ul.personal-nav__list
			each item in data
				-
					item = {
						icon: item.icon || '',
						name: item.name || '',
						href: item.href || '#',
					}

				li.personal-nav__element
					if (item.name === options.active )
						span(class="personal-nav__item active")
							+icon(item.icon)
							span= item.name
					else
						a(class="personal-nav__item" href= item.href)
							+icon(item.icon)
							span= item.name

