include ../../data/recommendData

section.section.recommended
	.section__prolog.prolog
		.container.prolog__container
			h2.section__header.recommended__header Рекомендуем вам
	.section__inner
		.container
			include tabs/tabs-generic
			include ../categories/categories
