.personal
	+media(desktop)
		display: flex
		gap: 36px

	&__aside
		+media(desktop)
			flex-shrink: 0
			width: 372px

	&__main
		+media(desktop)
			width: 100%

	&__control
		position: fixed
		bottom: 60px
		left: 0
		z-index: 5

		width: 100%
		padding: 16px 16px 26px

		background-color: $color.background.primary
		box-shadow: 0 0 10px 0 alpha($color.option.dark-gray, 30%)

		+media(desktop)
			position: static

			margin-bottom: 24px
			padding: 0

			box-shadow: none

	&__button
		width: 100%

		border-radius: 4px

		+media(desktop)
			max-width: 225px
