mixin cartEmptyInput
	.cart-empty-input.js-cart-empty-input&attributes(attributes)
		.cart-empty-input__label Найти товар
		input(type='text').cart-empty-input__field
		button(type='button').cart-empty-input__close
