-
	let siteName = 'Site name';

	let headerType = 'default';			// default | minimal | empty
	let footerType = 'default';			// default | minimal | empty
	let isSubscription = true;				// true | false

	const breakpoint = {
		mobile: 480,
		tablet: 768,
		laptop: 992,
		desktop: 1280,
		large: 1920,
		
	};
