-
	let siteName = 'Site name';

	let headerType = 'default';			// default | minimal | empty
	let footerType = 'default';			// default | minimal | empty
	let isSubscription = true;			// true | false

	const breakpoint = {
		mobile: 360,
		tablet: 768,
		laptop: 968,
		semi: 1024,
		desktop: 1280,
		notebook: 1366,
		large: 1920,
	};

	const $fonts = [
		'SegoeUI',
	];

