-
	let siteName = 'Site name';

	let headerType = 'default';			// default | minimal | empty
	let footerType = 'default';			// default | minimal | empty
	let isSubscription = true;			// true | false

	const metaTags = {
		description: 'Это новый сайт',
		keywords: 'Список ключевых слов',
		themeColor: '#ffffff',
		msapplicationTileColor: '#ffffff',
		msapplicationTileImage: './favicon/mstile-144x144.png',
		msapplicationConfig: './favicon/browserconfig.xml'
	}

	const breakpoint = {
		mobile: 360,
		tablet: 768,
		laptop: 992,
		semi: 1024,
		desktop: 1280,
		large: 1920,
	};

	const $fonts = [
		'SegoeUI',
	];

