block config
	include config

block variables

block includes
	include ../../components/icon/icon
	include ../../components/header/header
	include ../../components/footer/footer
	include ../../components/picture/picture
	include ../../components/modal/modal
	include ../../components/modal/modal-accepted/modal-accepted
	include ../../components/modal/modal-subscribe-success/modal-subscribe-success

doctype html
html(lang="ru")
	include head

	body(class=bodyClass)
		.page
			+header({
				prolog: true,
				epilog: true,
			}).page__header

			main.page__content
				block main

			+footer({
				prolog: true,
				epilog: true,
			}).page__header

		block modals
			.modals(aria-hidden="true")
				+modal('modal-accepted')
					+modal-accepted({
						title: 'Заголовок модалки',
						text: 'Это большой-большой текст соообщения модалки'
					})
				+modal("modal-subscribe-success")
					+modal-subscribe-success()

		block scripts
			script(defer src="./js/script.min.js")

			if scripts
				each script in scripts
					script(defer src=`./js/${script}.min.js`)
