extends ../../config/pug/layout

block append config
	-
		pageName = 'UI-Kit';
		bodyClass = 'ui-kit'

		style = 'style-ui-kit';
		scripts = ['script-ui-kit'];

		headerType = 'empty';
		footerType = 'empty';

block main
