include ../../icon/icon

mixin modal-city()
	include ../../../data/city/city-default
	include ../../../data/city/city-history

	.modal-city.js-modal-city
		h2.modal__title.title Выберите ваш город

		.field.modal-city__field
			button.button-control.button-control--white.modal-city__back.js-modal-city-close(type="button", aria-label="Назад")
				+icon('chevron_left')
			+bitButton({
				id: 'search',
				type: 'button',
				title: 'Поиск',
				classname: 'bit-button--red bit-button--no-border',
			})(aria-label="Найти город").modal-city__search-button.js-modal-city-search
			label.field__area
				input.field__input(type="text" name="city-search" placeholder="Введите название города")
		
		.modal-city__history.js-modal-history
			.history-list
				each item in cityHistory
					+cityHistoryItem(item)
		
		.modal-city__list.modal__scrollbox.js-modal-scroll
			.city-list
				each item in cityDefault
					if item.isSelect === true
						+radio(item.name, 'city', false, false, false, item.isSelect).modal-city__item.modal-city__item--selected(data-city=item.code).js-city-item
					else
						if item.isGroupLeader
							+radio(item.name, 'city', false, false, false, item.isSelect).modal-city__item.modal-city__item--group-leader(data-city=item.code).js-city-item
						else
							+radio(item.name, 'city', false, false, false, item.isSelect).modal-city__item(data-city=item.code).js-city-item
							
