.cart-layout
	display: grid
	gap: 24px
	padding-bottom: 10px

	+media(laptop)
		grid-template-rows: min-content min-content 1fr;
		grid-template-columns: 9fr 3fr

	&__table
		+media(laptop)
			grid-row: 1/-1;
			grid-column: 1/2

	&__details
		+media(laptop)
			grid-row: 1/2;
			grid-column: 2/3

	&__clarification
		color: var(--color-option-dark-gray);
		font-size: 14px
		text-align: center

	& > &__clarification
		justify-self: center
		margin-top: -8px

		+media(laptop)
			grid-row: 2/3
			grid-column: 2/3
			max-width: 250px

	&__instalment
		display: flex
		flex-direction: column
		gap: 16px
		padding: 20px 12px

		border-radius: 8px
		box-shadow: var(--shadow-1)

		+media(laptop)
			grid-row: 3/4;
			grid-column: 2/3

	&__button
		max-width: none

	&__product
		& + &
			margin-top: 24px

	&__bar
		position: fixed
		bottom: 70px
		inset-inline: 0
		z-index: 90

		+media(desktop)
			display: none
