.card--inspiration {
	position: relative
	z-index: 1

	align-items: center;
	padding: 12px;

	background-color: #fff
	border: 2px solid $color.primary-yellow

	
	&.card {
		max-width: 182px;

		&::before {
			display: none
		}
		
		+media(tablet) {
			min-width: 282px;
		}
		
		+media(desktop) {
			min-width: 515px;
		}
	}
	
	.prices {
		margin-bottom: 8px
		
		+media(tablet) {
			order: 0;
			margin-bottom: 20px
		
		}
	}
	
	.card__caption {
		+media(tablet) {
			margin-bottom: 10px
		}
	}
	
	.prices__discount {
		top: 18px
		left: 16px
	}
	
	.card__inner {
		+media(desktop) {
			display: flex
			flex-direction: row
		}
	}
	
	+media(desktop) {
		max-width: initial
	}
	
	.card__image {
		width: 158px
		margin: 0 auto 10px

		+media(tablet) {
			width: 223px
		}
		
		+media(desktop) {
			margin-right: 10px;
			margin-bottom: 0
		}
	}
}

.card__wrapper {
	position: relative

	.card-wrapper {
		position: absolute;
		top: -30px;
		right: 0;
		left: 0;
		z-index: 0;

		display: block;
		height: 70px;

		background: transparent url("../images/inspiration-head--mobile.svg") center center no-repeat;
		background-size: contain;

		content: '';
		
		+media(tablet) {
			top: -40px

			background-image: url("../images/inspiration-head--tablet.svg")  
		}
		
		+media(desktop) {
			top: -35px

			background-image: url("../images/inspiration-head--desktop.svg")
		}
		
	}
	
}

.card-inspiration-close {
	position: absolute
	top: -33px;
	right: 0
	z-index: 5

	display: inline-flex
	align-items: center
	justify-content: center;
	width: 20px
	height: 20px

	background-color: $color.primary-yellow
	border-radius: 4px
	

	.icon {
		width: 12px
		height: 12px
	}
}	

.card-inspiration {
	.buttons__compare.js-active, .buttons__compare {
		+media-max(tablet) {
			top: 10px
			right: 40px;
		}
	}
	
	.buttons__favourites.js-active, .buttons__favourites {
		+media-max(tablet) {
			top: 10px
			right: 10px;
		}
	}
}
