mixin checkoutDetails
	.checkout-details&attributes(attributes)
		.checkout-details__title Ваш заказ
		dl.checkout-details__properties
			dt.checkout-details__property-name Общая сумма
			dd.checkout-details__property-value 17 325 ₽

			dt.checkout-details__property-name Скидка на товар
			dd.checkout-details__property-value
				strong 10%
				strong 8 825 ₽

			dt.checkout-details__property-name Количество позиций
			dd.checkout-details__property-value 3

			dt.checkout-details__property-name Вес
			dd.checkout-details__property-value 0 кг
		.checkout-details__total
			.checkout-details__total-title Итого
			.checkout-details__total-value 16 500 ₽
		button(type='button').checkout-details__submit.button-primary.button-primary--disabled
			span.button__caption Подтвердить заказ
