.checkout-details
	display grid
	gap 16px
	padding 20px 12px

	border-radius 8px
	box-shadow var(--shadow-1)

	+media-interval(tablet, desktop)
		grid-template-rows auto 1fr auto
		grid-template-columns  minmax(auto, 300px) minmax(auto, 250px)
		justify-content space-between

	&__title
		font-weight 600
		font-size 24px

		+media-interval(tablet, desktop)
			grid-row 1/2;
			grid-column 1/2

	&__properties
		display grid
		grid-template-columns repeat(2, auto)
		gap 10px
		align-items baseline

		+media-interval(tablet, desktop)
			grid-row 2/4
			grid-column 1/2

	&__property-name
		font-size 14px

	&__property-value
		display flex
		gap 8px
		justify-content end

		font-weight 600
		font-size 16px
		text-align right

		strong
			color #ED1C24
			font-weight 700

	&__total
		display flex
		align-items baseline
		justify-content space-between
		padding-top 16px

		font-weight 700

		border-top 1px solid var(--color-option-dark-gray)

		+media-interval(tablet, desktop)
			grid-row 2/3
			grid-column 2/3
			align-self end
			padding-top 0

			border-top none

	&__total-title
		font-size 18px

	&__total-value
		font-size 24px

	&__submit
		width 100%
		max-width none
		+media-interval(tablet, desktop)
			grid-row 3/4
			grid-column 2/3
			align-self end
