
.icon--mono-arrow-down
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#arrow-down')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#arrow-down')

.icon--mono-arrow-left
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#arrow-left')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#arrow-left')

.icon--mono-arrow-right
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#arrow-right')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#arrow-right')

.icon--mono-arrow-up
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#arrow-up')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#arrow-up')

.icon--mono-base-send-email
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#base-send-email')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#base-send-email')

.icon--mono-bell
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#bell')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#bell')

.icon--mono-box-plus
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#box-plus')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#box-plus')

.icon--mono-burger
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#burger')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#burger')

.icon--mono-busket
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#busket')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#busket')

.icon--mono-callback
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#callback')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#callback')

.icon--mono-catalog-item_1
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#catalog-item_1')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#catalog-item_1')

.icon--mono-catalog-item_2
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#catalog-item_2')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#catalog-item_2')

.icon--mono-catalog-item_3
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#catalog-item_3')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#catalog-item_3')

.icon--mono-catalog-item_4
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#catalog-item_4')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#catalog-item_4')

.icon--mono-catalog
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#catalog')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#catalog')

.icon--mono-check
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#check')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#check')

.icon--mono-checks
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#checks')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#checks')

.icon--mono-chevron_down
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#chevron_down')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#chevron_down')

.icon--mono-chevron_left
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#chevron_left')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#chevron_left')

.icon--mono-chevron_right
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#chevron_right')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#chevron_right')

.icon--mono-chevron_up
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#chevron_up')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#chevron_up')

.icon--mono-close
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#close')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#close')

.icon--mono-compare-fill
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#compare-fill')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#compare-fill')

.icon--mono-compare
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#compare')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#compare')

.icon--mono-delete
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#delete')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#delete')

.icon--mono-delivery-self
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#delivery-self')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#delivery-self')

.icon--mono-delivery-shipping
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#delivery-shipping')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#delivery-shipping')

.icon--mono-discount
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#discount')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#discount')

.icon--mono-double-chevron-up
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#double-chevron-up')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#double-chevron-up')

.icon--mono-favourites-fill
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#favourites-fill')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#favourites-fill')

.icon--mono-favourites
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#favourites')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#favourites')

.icon--mono-feedback
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#feedback')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#feedback')

.icon--mono-file
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#file')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#file')

.icon--mono-filter
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#filter')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#filter')

.icon--mono-home
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#home')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#home')

.icon--mono-location-footer
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#location-footer')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#location-footer')

.icon--mono-location
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#location')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#location')

.icon--mono-log-out
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#log-out')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#log-out')

.icon--mono-long-arrow__left
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#long-arrow__left')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#long-arrow__left')

.icon--mono-l_arrow-down
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#l_arrow-down')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#l_arrow-down')

.icon--mono-l_arrow-left
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#l_arrow-left')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#l_arrow-left')

.icon--mono-l_arrow-right
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#l_arrow-right')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#l_arrow-right')

.icon--mono-l_arrow-up
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#l_arrow-up')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#l_arrow-up')

.icon--mono-orders
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#orders')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#orders')

.icon--mono-payment-cash
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#payment-cash')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#payment-cash')

.icon--mono-payment-instalment
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#payment-instalment')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#payment-instalment')

.icon--mono-payment-invoice
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#payment-invoice')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#payment-invoice')

.icon--mono-payment-online
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#payment-online')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#payment-online')

.icon--mono-print
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#print')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#print')

.icon--mono-profile
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#profile')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#profile')

.icon--mono-promo-code
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#promo-code')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#promo-code')

.icon--mono-promotions
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#promotions')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#promotions')

.icon--mono-question
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#question')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#question')

.icon--mono-round-button-icon
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#round-button-icon')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#round-button-icon')

.icon--mono-search
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#search')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#search')

.icon--mono-settings
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#settings')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#settings')

.icon--mono-star
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#star')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#star')

.icon--mono-sunny
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#sunny')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#sunny')

.icon--mono-telegram
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#telegram')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#telegram')

.icon--mono-vk
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#vk')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#vk')

.icon--mono-youtube
	&::before
		background-color: currentcolor
		-webkit-mask-image: url('../images/sprite-mono.svg#youtube')
		-webkit-mask-repeat: no-repeat
		mask-repeat: no-repeat
		mask-image: url('../images/sprite-mono.svg#youtube')

.icon--multi-busket
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#busket')

.icon--multi-cart-empty
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#cart-empty')

.icon--multi-catalog
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#catalog')

.icon--multi-compare-fill
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#compare-fill')

.icon--multi-compare
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#compare')

.icon--multi-favourites-fill
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#favourites-fill')

.icon--multi-favourites
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#favourites')

.icon--multi-home
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#home')

.icon--multi-location-footer
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#location-footer')

.icon--multi-order-placed
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#order-placed')

.icon--multi-profile
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#profile')

.icon--multi-star-half
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#star-half')

.icon--multi-sunny
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#sunny')

.icon--multi-telegram
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#telegram')

.icon--multi-vk
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#vk')

.icon--multi-youtube
	&::before
		background-color: transparent
		background-repeat: no-repeat
		background-image: url('../images/sprite-multi.svg#youtube')
