@font-face
	font-weight: 300
	font-family: SegoeUI
	font-style: normal
	font-display: swap
	src: url("../fonts/SegoeUI-Light.woff2") format("woff2")

@font-face
	font-weight: 350
	font-family: SegoeUI
	font-style: normal
	font-display: swap
	src: url("../fonts/SegoeUI-SemiLight.woff2") format("woff2")

@font-face
	font-weight: 400
	font-family: SegoeUI
	font-style: normal
	font-display: swap
	src: url("../fonts/SegoeUI.woff2") format("woff2")	

@font-face
	font-weight: 600
	font-family: SegoeUI
	font-style: normal
	font-display: swap
	src: url("../fonts/SegoeUI-SemiBold.woff2") format("woff2")		

@font-face
	font-weight: 700
	font-family: SegoeUI
	font-style: normal
	font-display: swap
	src: url("../fonts/SegoeUI-Bold.woff2") format("woff2")		

@font-face
	font-weight: 900
	font-family: SegoeUI
	font-style: normal
	font-display: swap
	src: url("../fonts/SegoeUI-Black.woff2") format("woff2")	
