include /components/icon/icon
include /components/button-back/button-back

mixin modalDelivery(id)
	.modal.modal-delivery(
		id= id
	)&attributes(attributes)
		.modal__overlay.js-modal-close
		.modal__body
			+buttonBack({ tag: 'button' }).modal-delivery__back.js-modal-close Назад
			button.button-control.button-control--close.modal__close.js-modal-close(type="button")
				+icon('close')

			.modal__content
				if block
					block
