.cart
	.footer
		+media-max(desktop)
			display: none

	main
		+media-max(tablet)
			border-radius: 0 0 25px 25px

		+media-max(desktop)
			margin-bottom: 70px
			padding-bottom: 20px

			border-radius: 0 0 40px 40px
