-
	const dataPage_3 = [
		{
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: '32 класс, толщина 8 мм, Без фаски',
			image: {
				src: 'recomendations/recommend-item_1',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			}
		},
		{
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: '32 класс, толщина 8 мм, Без фаски',
			image: {
				src: 'recomendations/recommend-item_2',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			}
		},
		{
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: '32 класс, толщина 8 мм, Без фаски',
			image: {
				src: 'recomendations/recommend-item_3',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			}
		},
		{
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: '32 класс, толщина 8 мм, Без фаски',
			image: {
				src: 'recomendations/recommend-item_4',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			}
		},
		{
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: '32 класс, толщина 8 мм, Без фаски',
			image: {
				src: 'recomendations/recommend-item_1',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			}
		},
		{
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: '32 класс, толщина 8 мм, Без фаски',
			image: {
				src: 'recomendations/recommend-item_1',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			}
		},
		{
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: '32 класс, толщина 8 мм, Без фаски',
			image: {
				src: 'recomendations/recommend-item_4',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			}
		},
	];

.recommended__slider.js-recommended-slider.swiper
	.swiper-wrapper
		each good in dataPage_3
			.swiper-slide
				+card(good)
