include ../../icon/icon

mixin modal-subscribe-success()
	.modal-subscribe-success
		h2.modal__title.title.title--position-center Спасибо за подписку
		p.modal__text.modal__text--center Теперь вы будете получайте первым эксклюзивные новости и предложения, узнавайте об акциях.

		.modal__bottom.modal__bottom--center
			button.link.link--color-primary.link--type-solid.js-modal-close(type="button")
				span Закрыть
