.tip
	display: inline-flex;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: center;
	padding: 2px 8px

	color: $color.primary
	font-weight: 700
	font-size: 10px
	line-height: normal

	background-color: transparent
	border: 1px solid @color
	border-radius: 2px

	+media(tablet) {
		padding: 4px 10px

		font-weight: 600;
		font-size: 13px;
		font-style: normal;
		line-height: 150%;

		border-radius: 4px
	}
	
	&--orange
		color: $color.option.orange

		border-color: @color
	
	&--yellow
		color: $color.primary-yellow

		border-color: @color
	
	&--red
		color: $color.option.red

		border-color: @color
	
	&--burgunby
		color: $color.primary-red

		border-color: @color
		
	&--green
		color: $color.primary-green

		border-color: @color
		
	&--blue
		color: $color.primary-blue

		border-color: @color
		
	&--gradient
		overflow: hidden;

		color: $color.primary-white

		background-image: $color.gradient.primary
		border-color: $color.primary-yellow
