.slider-products
	width: 100%

	+media(laptop)
		display: grid
		grid-template-areas: 'title prev next' 'slider slider slider'
		grid-template-columns: 1fr repeat(2, min-content)

	&__title
		margin-bottom: 24px

		font-weight: 600
		font-size: 24px

		+media(tablet)
			font-size: 32px

	&__arrow
		.icon:first-child
			width 30px
			height 30px
			margin 0
		+media-max(laptop)
			display: none

	&__slider
		grid-area: slider
		width: 100%
		margin-inline: -2px
		padding: 2px
