.checkout-field
	&.field--fill
		.field__input
			border-color #a3a3a3
		&:has(.js-valid) .field__wrapper
			position relative
			display block
			+before()
				content ''
				z-index 0
				color #333
				background linear-gradient(180deg, #ffee02 0%, #f0801e 100%) border-box
				border 1px solid transparent
				border-radius 4px
				opacity 1
				pointer-events none
				-webkit-mask linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0)
				-webkit-mask-composite xor
				mask-composite exclude
				position absolute
				display block
				inset 0
	.required
		display inline
