mixin field-avatar(data = {}, options = {})
	.field-avatar.js-field-avatar&attributes(attributes)
		.field-avatar__box
			.field-avatar__preview.js-field-avatar__preview
				.field-avatar__icon
					+icon('profile')
				picture.field-avatar__image
					img(src="" alt="").js-field-avatar__image
			button(class="field-avatar__open js-modal" type="button" data-modal="modal-avatar") Изменить аватарку

		+modal('modal-avatar').field-avatar__modal
			.field-avatar__title Изменить аватарку
			.field-avatar__container
				input(id="field-avatar" class="field-avatar__file js-field-avatar__file" type="file")
				.field-avatar__preview.js-field-avatar__preview
					.field-avatar__icon
						+icon('profile')
					picture.field-avatar__image
						img(src="" alt="").js-field-avatar__image
				.field-avatar__control
					label(class="field-avatar__append" for="field-avatar") Выбрать
					button(class="field-avatar__remove js-field-avatar__remove" type="button") Удалить
