.field-avatar
	&__box
		display: flex
		align-items: center

	&__title
		margin-bottom: 24px

		font-weight: 700
		font-size: 24px
		line-height: normal

	&__modal
		.modal__body
			min-height: 560px

			+media(tablet)
				min-height: 476px

		.modal__content
			+media(tablet)
				padding: 60px 36px 16px

	&__icon
		display: flex
		align-items: center
		justify-content: center
		width: 100%
		height: 100%

		background-color: $color.primary-yellow

		transition: opacity $transition.field,
						visibility $transition.field

	&__image
		position: absolute
		top: 0
		left: 0

		display: flex
		width: 100%
		height: 100%

		visibility: hidden
		opacity: 0

		transition: opacity $transition.field,
						visibility $transition.field

		img
			width: 100%
			height: 100%
			object-fit: cover

	&__preview
		position: relative

		flex-shrink: 0
		width: 52px
		height: 52px
		margin-right: 12px
		overflow: hidden

		border-radius: 50%
		outline: 1px solid alpha($color.primary-white, 0%)

		transition: outline-color $transition.field

		.icon
			width: 24px
			height: 24px

			color: $color.primary-white

		+media(tablet)
			width: 80px
			height: 80px
			margin-right: 20px

			.icon
				width: 32px
				height: 32px

		&.active
			.field-avatar__icon
				visibility: hidden
				opacity: 0

			.field-avatar__image
				visibility: visible
				opacity: 1

		&.error
			outline-color: $color.option.red

	&__container
		padding: 30px 30px 20px

		background-color: $color.option.gray
		border-radius: 25px

		.field-avatar__preview
			width: 240px
			height: 240px
			margin: 0 auto

			.icon
				width: 140px
				height: 140px

	&__file
		display: none

	&__control
		display: flex
		align-items: center
		justify-content: space-between
		margin-top: 12px

	&__open
		color: $color.option.dark-gray
		font-weight: 400
		font-size: 18px
		line-height: normal

		transition: color $transition.primary

		+hover()
			color: $color.primary

		+active()
			color: $color.primary

	&__append
		color: $color.primary-blue
		font-weight: 600
		font-size: 20px
		line-height: normal

		cursor: pointer

		transition: color $transition.primary,
						transform $transition.primary

		+hover()
			color: darken($color.primary-blue, 15%)

		+active()
			color: darken($color.primary-blue, 15%)

	&__remove
		color: $color.option.red
		font-weight: 600
		font-size: 20px
		line-height: normal

		transition: color $transition.primary,
						transform $transition.primary

		+hover()
			color: darken($color.option.red, 15%)

		+active()
			color: darken($color.option.red, 15%)
