.up-button {
	--position-y: 20px
	
	position: fixed
	right: 44px
	bottom: var(--position-y)
	z-index: 999

	display: inline-block
	flex-grow: 0
	flex-shrink: 0
	padding: 8px 12px

	color: $color.primary
	font-weight: 600
	font-size: 14px

	background-color: $color.primary-white
	border: 1px solid $color.option.dark-gray
	border-radius: 8px
	cursor: pointer
	opacity: 1

	transition: opacity $transition.primary
	
	&--bottom {
		--position-y: 554px
		position: absolute
	}

	&--hidden {
		opacity: 0
	}
	
	.icon {
		display: inline-flex
		width: 11px
		height: 11px;
		margin-right: 12px
	}
}
