extends ../../config/pug/layout

include ../../components/slider-products/slider-products
include ../../components/modal/modal-login/modal-login

block append config
	-
		pageName = 'Заказ успешно оформлен';

		style = 'style-order-placed';
		scripts = ['script-order-placed'];

block variables
	include ../../data/products/cart
block main
	.container.order-placed.js-order-placed
		h1.order-placed__title Заказ успешно оформлен 
		.order-placed__subtitle Спасибо за заказ!
		.order-placed__info
			p Номер вашего заказа #[strong №12121212]
			p В ближайшее время менеджер с свяжется с вами
			p Посмотореть детали заказа вы можете в Личном кабинете
			p Пароль и почта от вашего Личного кабинета направлены на почту #[a(href='#').order-placed__email azaza@yandex.ru]
		.order-placed__buttons
			a(href='#').order-placed__button.order-placed__button--fill.card-button.card-button--check-in
				span.button__caption Личный кабинет 
			a(href='#').order-placed__button.order-placed__button--stroke.card-button
				span.button__caption На главную 
		img(src='images/sprite-multi.svg#order-placed' alt='Заказ успешно оформлен' width='370' height='346').order-placed__image
		+sliderProducts('Рекомендуем вам').order-placed__slider
block modals
	+modal('modal-login').modal--login.modal--login-step-request
		+modal-login()
	+modal('modal-callback').modal--callback
		+modal-callback()
	+modal('modal-city').modal--city
		+modal-city()
	+modal('modal-message').modal-message--success-subscribe
		+modal-message('Спасибо!', 'Ваша заявка принята.')
	+modal('modal-message-success-login').modal-message--success-login
		+modal-message('Добро пожаловать!', 'Вы вошли в систему.')
	+modal('modal-cookies').modal-message--cookies
		+modalCookies()
	+modal().modal-order-placed#modal-order-placed
		h2.modal-order-placed__title Уважаемая Сабрина!
		p.modal-order-placed__info Выберите подарок-скидку от наших партнеров!
		a(href='#').button-primary.button-primary--black.modal-order-placed__button
			span.button__caption Выбрать
