@import '../../config/styles/variables.styl'
@import '../../config/styles/mixins.styl'

@import '../../../node_modules/swiper/swiper-bundle.min.css'
@import '../../config/styles/simplebar/simplebar--style-default.styl'

@import '../../components/modal/modal-order-placed'
@import '../../components/order-placed'
@import '../../components/slider-products'
