.switch
	--switcher-width 40px
	--switcher-height 22px
	--switcher-background-color var(--color-option-dark-gray)
	--switcher-background-color-checked var(--color-primary-yellow)
	--switcher-before-size 18px
	--switcher-before-color var(--color-primary-white)
	--switcher-before-translate -8px
	--switcher-before-color-checked var(--color-option-gray)
	--switcher-before-translate-checked 8px
	display flex
	gap 12px
	align-items center
	width fit-content
	&__input
		display none
	&__switcher
		display flex
		justify-content center
		align-items center
		flex-shrink 0
		order var(--switcher-order, 1)
		width var(--switcher-width)
		height var(--switcher-height)
		background-color var(--switcher-background-color)
		border-radius 22px
		transition background-color var(--transition-primary)
		cursor pointer
		&::before
			content ''
			width var(--switcher-before-size)
			height var(--switcher-before-size)
			background-color var(--switcher-before-color)
			border-radius 8px
			box-shadow var(--shadow-1)
			translate var(--switcher-before-translate) 0
			transition translate var(--transition-primary)
	&__input:checked + &__switcher
		--switcher-background-color var(--switcher-background-color-checked)
		--switcher-before-color var(--switcher-before-color-checked)
		--switcher-before-translate var(--switcher-before-translate-checked)
		--switcher-border-color var(--switcher-border-color-checked)
	&__label
		order var(--label-order, 2)
