.order-placed
	display grid
	grid-template-areas 'title' 'image' 'subtitle' 'info' 'buttons' 'slider'
	margin-top 24px
	+media(tablet)
		grid-template-areas 'title image' 'subtitle image' 'info image' 'buttons buttons' 'slider slider'
		grid-template-columns 8fr 4fr
		column-gap 20px
		margin-top 50px
	+media(desktop)
		grid-template-areas 'title image' 'subtitle image' 'info image' 'buttons image' 'slider slider'
	&__title
		grid-area title
		font-size 24px
		font-weight 350
		+media-max(tablet)
			text-align center
	&__image
		grid-area image
		max-width 100%
		+media-max(tablet)
			margin-top 24px
	&__subtitle
		grid-area subtitle
		margin-top 24px
		font-size 32px
		font-weight 600
		+media-max(tablet)
			text-align center
	&__info
		grid-area info
		margin-top 24px
		+media-max(tablet)
			text-align center
		p
			font-size 16px
			& + p
				margin-top 20px
	&__buttons
		grid-area buttons
		align-self end
		display flex
		gap 24px
		margin-top 20px
		+media-max(tablet)
			flex-direction column
		+media(tablet)
			margin-top 24px
		+media(desktop)
			margin-top 28px
	&__button
		+media-max(tablet)
			max-width 100%
		&--fill
			+hover()
				color var(--color-primary)
		&--stroke
		&--stroke:hover
			border-color var(--color-primary-yellow)
	&__slider
		grid-area slider
		max-width calc(100vw - 32px)
		margin-top 50px
		+media(desktop)
			margin-top 100px
	&__email
		font-weight bold
		color var(--color-option-red)
