@import '../../config/styles/variables.styl';
@import '../../config/styles/mixins.styl';

// breadcrumbs
@import '../../components/breadcrumbs/breadcrumbs.styl';

//
@import '../../components/personal/personal-empty/personal-empty.styl';
@import '../../components/personal/personal-data/personal-data.styl';
@import '../../components/personal/personal-checks/personal-checks.styl';
@import '../../components/personal/personal-feedback/personal-feedback.styl';
@import '../../components/personal/personal-nav/personal-nav.styl';
@import '../../components/personal/personal.styl';
@import '../../components/field-avatar/field-avatar.styl';
@import '../../components/switch/switch.styl';

//
@import '../../components/modal/modal-feedback/modal-feedback.styl';
