.tabs-header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 12px;
	overflow: hidden;

	color: $color.primary;

	background-color: $color.option.gray;
	border-radius: 8px;

	&__item {
		position: relative;

		padding-top: 10px;
		padding-bottom: 12px;

		font-weight: 400;
		font-size: 14px;

		opacity: 0.6;

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;

			display: block;
			height: 4px;

			background-image: $color.gradient.primary;
			background-repeat: no-repeat;
			background-position: 0 0;
			border-radius: 4px 4px 0 0;
			opacity: 0;

			content: '';
		}

		&.js-tabs-page--open {
			font-weight: 600;

			opacity: 1;

			&::after {
				opacity: 1;
			}
		}
	  
		+media(tablet) {
			font-size: 18px;
		}
	}
	
	+media(desktop) {
		width: 100%;
		max-width: 561px;
	}

}

.tabs-content {
	&__item {
		visually-hidden()

		&.js-tabs-page--open {
			is-visible()
		}
	}
}

.tab-slider {
	overflow-x: scroll;

	+media(desktop) {
		overflow: visible;
	}

	&__inner {
		display: flex;
		flex-flow: row nowrap;
	}

	.card {
		margin-right: 12px;

		+media(desktop) {
			margin-right: 24px;
		}

	}
}	
