@import '../../config/styles/variables.styl'
@import '../../config/styles/mixins.styl'
@import '../../config/styles/simplebar/simplebar--style-default.styl'

@import '../../components/button-back'
@import '../../components/checkout-address'
@import '../../components/checkout-delivery'
@import '../../components/checkout-details'
@import '../../components/checkout-layout'
@import '../../components/checkout-payment'
@import '../../components/checkout-pickup'
@import '../../components/checkout-pickup/checkout-pickup-item'
@import '../../components/checkout-pickup/checkout-pickup-bubble'
@import '../../components/checkout-tabs'
@import '../../components/tabs/tabs-generic'
@import '../../components/modal/modal-delivery'
@import '../../components/switch'
@import '../../components/checkout-field'
@import '../../components/checkout-organization'
