-
	const cartProducts = [
		{
			id: 1,
			name: 'Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			category: 'Ламинат',
			code: 1234567,
			image: 'cart/cart-product-1',
			value: 1,
			areaPerPack: 2.25,
			price: {
				old: 16200,
				current: 8420,
			},
			properties: [
				{ name: 'Длина', value: '1285 мм' },
				{ name: 'Ширина', value: '192 мм' },
				{ name: 'Толщина', value: '10 мм' },
			],
			weight: 2,
		},
		{
			id: 2,
			name: 'Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			category: 'Ламинат',
			code: 1234567,
			image: 'cart/cart-product-2',
			value: 2,
			areaPerPack: 2.25,
			price: {
				old: 16200,
				current: 8420,
			},
			properties: [
				{ name: 'Длина', value: '1285 мм' },
				{ name: 'Ширина', value: '192 мм' },
				{ name: 'Толщина', value: '10 мм' },
			],
			weight: 1,
		},
		{
			id: 3,
			name: 'Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			category: 'Ламинат',
			code: 1234567,
			image: 'cart/cart-product-3',
			value: 1,
			areaPerPack: 2.25,
			price: {
				old: 16200,
				current: 8420,
			},
			properties: [
				{ name: 'Длина', value: '1285 мм' },
				{ name: 'Ширина', value: '192 мм' },
				{ name: 'Толщина', value: '10 мм' },
			],
			weight: 3,
		},
	]
