-
	const personalFeedback = [
		{
			number: '84764204',
			date: '22.12.2023',
			status: 'Ответ поступит на почту'
		}, {
			number: '84764204',
			date: '22.12.2023',
			status: 'Ответ поступит на почту'
		}, {
			number: '84764204',
			date: '22.12.2023',
			status: 'Ответ поступит на почту'
		}, {
			number: '84764204',
			date: '22.12.2023',
			status: 'Ответ поступит на почту'
		}, {
			number: '84764204',
			date: '22.12.2023',
			status: 'Ответ поступит на почту'
		}
	]
