-
	const personalChecks = [
		{
			label: 'Июль 2023',
			list: [
				{
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: true
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}
			]
		}, {
			label: 'Июнь 2023',
			list: [
				{
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: true
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}, {
					name: 'Заказ № 12356',
					date: '22.12.2023 в 16:33',
					price: '2 222 222 ₽',
					active: false
				}
			]
		}
	]
