-
	const personalNav = [
		{
			icon: 'settings',
			name: 'Мои личные данные',
			href: 'personal-data.html',
		}, {
			icon: 'bell',
			name: 'Уведомления',
			href: 'personal-notice--empty.html',
		}, {
			icon: 'orders',
			name: 'Мои заказы',
			href: 'personal-orders.html',
		}, {
			icon: 'compare',
			name: 'Сравнить товары',
			href: '#',
		}, {
			icon: 'favourites',
			name: 'Избранное',
			href: '#',
		}, {
			icon: 'checks',
			name: 'Электронные чеки',
			href: 'personal-checks.html',
		}, {
			icon: 'feedback',
			name: 'Обратная связь',
			href: 'personal-feedback.html',
		}, {
			icon: 'promotions',
			name: 'Акции и персональные предложения',
			href: '#',
		}, {
			icon: 'promo-code',
			name: 'Промокод',
			href: '#',
		}, {
			icon: 'discount',
			name: 'Дисконтная карта',
			href: '#',
		}, {
			icon: 'log-out',
			name: 'Выйти из акаунта',
			href: '#',
		}
	]
