mixin cartDetails
	form.js-form.cart-details.js-cart-details&attributes(attributes)
		.cart-details__title Ваш заказ
		dl.cart-details__properties
			dt.cart-details__property-name Общая сумма
			dd.cart-details__property-value.js-total-price 

			dt.cart-details__property-name Скидка на товар
			dd.cart-details__property-value
				strong.js-discount 
				strong.js-discount-value 

			dt.cart-details__property-name Количество позиций
			dd.cart-details__property-value.js-value 

			dt.cart-details__property-name Вес
			dd.cart-details__property-value.js-weight
		.cart-details__total
			.cart-details__total-title Итого
			.cart-details__total-value.js-total-price 

		+field('tel', 'phone', true, '', 'Телефон', '+7 (999) 999-99-99','', false, false).form__field.required.cart-details__field.js-cart-tel
		button.button-primary.button-primary--disabled.cart-details__submit.js-cart-submit(type="submit" disabled)
			span.button__caption Оформить
