.cart-print
	display: flex
	flex-direction: column
	align-items: center

	&__header
		width: 515px

	&__main
		width: 515px

	&__title
		font-weight: 600;
		font-size: 20px

	&__table
		margin-top: 30px
