extends ../../config/pug/layout

block append config
	-
		pageName = 'Список страниц';
		headerType = 'minimal';
		footerType = 'minimal';

block variables
	-
		const pages = {
			'UI-Kit': 'ui-kit.html',
			'Главная': 'main.html',
		}

block main
	.container
		ul
			each href,name in pages
				li
					a(href= href)= name

block append modals
