@import '../../config/styles/variables.styl'
@import '../../config/styles/mixins.styl'

// Общий вид
@import '../../config/styles/fonts.styl'
@import '../../config/styles/normalize.styl'

// Утилитарные классы
@import '../../config/styles/common.styl'

// Шаблон
@import '../../components/page/page.styl'
@import '../../components/container/container.styl'
@import '../../components/section/section.styl'
@import '../../components/up-button/up-button.styl'
@import '../../components/cookie/cookie.styl'

// Simplebar
@import '../../../node_modules/simplebar/dist/simplebar.css'

// Заголовки
@import '../../components/title/title.styl'

// Иконки
@import '../../components/icon/icon.styl'
@import '../../config/styles/_icons.styl'

// Lazyload
@import '../../components/lazy/lazy.styl'

// Кнопки
@import '../../components/button/button.styl'
@import '../../components/button/button--download.styl'
@import '../../components/button/button--to-busket.styl'
@import '../../components/button/button--card-button.styl'
@import '../../components/button/button--card-button-check-in.styl'
@import '../../components/button/button--card-button-to-basket.styl'
@import '../../components/button/button--card-button-black.styl'
@import '../../components/button/button--card-button-orange.styl'
@import '../../components/button/button--primary.styl'
@import '../../components/button/button--primary-black.styl'
@import '../../components/button/button--primary-disabled.styl'
@import '../../components/button/button--primary-red.styl'
@import '../../components/button/button--primary-filter.styl'
@import '../../components/button/button--primary-login.styl'
@import '../../components/button/button--catalog.styl'
@import '../../components/button/button--primary-add-goods.styl'
@import '../../components/button/button--primary-send.styl'
@import '../../components/button/button-control.styl'
@import '../../components/button/button--callback.styl'
@import '../../components/button/color-button.styl'

// Микрокнопки
@import '../../components/bit-button/bit-button.styl'

// Tips
@import '../../components/tip/tip.styl'


// Карточки
@import '../../components/card/card.styl'
@import '../../components/card/card--inspiration.styl'

// Мобильная навигация
@import '../../components/mobile-navigation/mobile-navigation.styl'

// Формы
@import '../../components/checkbox/checkbox.styl'
@import '../../components/radio/radio.styl'
@import '../../components/field/field.styl'
@import '../../components/form/form.styl'
@import '../../components/microfield/microfield.styl'

// Шапка
@import '../../components/header/header.styl'
@import '../../components/header-navigation/header-navigation.styl'
@import '../../components/logo/logo.styl'
@import '../../components/burger/burger.styl'
@import '../../components/location/location.styl'
@import '../../components/phone/phone.styl'
@import '../../components/search-panel/search-panel.styl'
@import '../../components/search-panel/search-panel--mobile.styl'

// Каталог
@import '../../components/header-catalog/header-catalog.styl'
@import '../../components/mobile-search/mobile-search.styl'
@import '../../components/mobile-catalog/mobile-catalog.styl'


// Подвал
@import '../../components/footer/footer.styl'
@import '../../components/socials/socials.styl'

// Модалки
@import '../../components/modal/modal.styl'
@import '../../components/modal/modal-message/modal-message.styl'
@import '../../components/modal/modal-city/modal-city.styl'
@import '../../components/modal/modal-callback/modal-callback.styl'
@import '../../components/modal/modal-login/modal-login.styl'
@import '../../components/modal/modal-cookies/modal-cookies.styl'
@import '../../components/city-history-item/city-history-item.styl'
@import '../../components/subscribe/subscribe.styl'
