.button-back
	display grid
	grid-template-areas 'icon text'
	align-items center
	gap 16px
	width fit-content
	+before()
		grid-area icon
		width 36px
		height 36px
		border 1px solid var(--color-option-gray)
		border-radius 4px
	+after()
		$mask(chevron_left, mono)
		grid-area icon
		place-self center
		width 8px
		height 14px
		background-color var(--color-primary)
