.city-history-item {
	margin-right: 8px
	margin-bottom: 16px
	display: inline-flex;
	min-height: 32px;
	padding: 8px 12px;
	border-radius: 4px
	border: 2px solid $color.option.light-orange
	justify-content: center;
	align-items: center;
	font-size: 12px
	font-weight: 400
	background-color: $color.option.light-orange
	
}

@import "./city-history-item--selected.styl"
