mixin cityHistoryItem(data)
	button.city-history-item(class={'city-history-item--selected' : data.isSelect === true}, type="button" data-code=data.code)&attributes(attributes)
		span.city-history-item__caption #{data.name}
