include /components/switch/switch

mixin checkoutAddress()
	form.checkout-address.js-checkout-address&attributes(attributes)
		h2.checkout-address__title Укажите адрес доставки
		+field('text', 'city', true, '', 'Город', '', true, false).form__field.required.checkout-address__field.checkout-address__field--wide.checkout-field
		+switch({ name: 'houseType' }).checkout-address__switch.checkout-address__field: strong Частный дом
		+field('text', 'street', true, '', 'Улица', '', true, false).form__field.required.checkout-address__field.checkout-address__field--wide.checkout-field
		+field('text', 'house', true, '', 'Дом', '', true, false).form__field.required.checkout-address__field.checkout-field
		+field('text', 'building', false, '', 'Строение', '', false, false).form__field.checkout-address__field.checkout-field
		+field('text', 'apartment', true, '', 'Квартира', '', true, false).form__field.required.checkout-address__field.checkout-address__field--wide.checkout-address__field--hide.checkout-field
		+field('text', 'entrance', true, '', 'Подъезд', '', true, false).form__field.required.checkout-address__field.checkout-address__field--hide.checkout-field
		+field('text', 'floor', true, '', 'Этаж', '', true, false).form__field.required.checkout-address__field.checkout-address__field--hide.checkout-field
		button.button-primary.button-primary--disabled.checkout-address__submit(type="button")
			span.button__caption Привезти сюда
