mixin location(city)
	-
		$city = city || 'Москва'
	button.location.js-modal(type="button" data-modal="modal-city")
		+icon('location')
		span.location__caption.js-city-caption #{$city}
		+icon('chevron_down')
