include ../../data/footer/footer

mixin footer()
	if footerType !== 'empty'
		footer.footer&attributes(attributes)
			if footerType === 'default'
				.footer__prolog.subscribe
					.container
						h2.section__header.subscribe__header Получайте самые интересные предложения первыми!
						form.subscribe__form.subscribe-form.js-form(action="/response/subscribe.json" method="post" autocomplete="off" novalidate)
							+field('email', 'email', true, '', 'Email', '', true, false).subscribe-form__field.required
								button.button-primary.button-primary-send.button--disabled.js-form-submit(type="submit" aria-label="Оформить подписку" disabled).subscribe-form__send
									+icon('base-send-email')
									span.button__caption Подписаться
									
				.footer__main
					.container
						.footer__inner
							.footer__feedback.feedback
								+socials()
	
								button.button.button--callback.js-modal(type="button" name="link" data-modal="modal-callback" aria-label="Заказать обратный звонок")
									+icon('callback')
									span.button__caption Заказать обратный звонок
									
							.footer__contacts.contacts
								p.contacts__intro Интернет-магазин
								+phone()
								p.contacts__time Ежедневно со 9:00 до 19:00
								a.contacts__points(href="javascript:void(0);" title="Адреса магазинов") Адреса магазинов
									+icon('location-footer')
								a.contacts__contacts(href="#" title="Контакты") Контакты
	
							nav.footer__navigation.footer-navigation
								ul.footer-navigation__list
									each item in footerData.navigation
										li.footer-navigation__item
											a.footer-navigation__link(href=`${item.href}` title=`${item.title}`) #{item.title}
	
	
						.footer__epilog
							p © Федеральная сеть «Управдом», 2002
							a.footer__policy(href="#" title="Политика конфиденциальности" target="_blank" rel="noopener") Политика конфиденциальности
							a.footer__oferta(href="#" title="Публичная оферта" target="_blank" rel="noopener") Публичная оферта
