.socials
	&__subheader
		margin-bottom: 16px
		font-size: 16px
		font-weight: 600
	
	&__list
		margin-bottom: 24px
		display: flex
		flex-flow: row nowrap

	&__item
		width: 40px;
		
		a
			color: inherit

		&:not(:last-child)
			margin-right: 20px

	.vk
		.icon
			width: 27px
			height: 25px
			
	.telegram
		.icon
			width: 23px
			height: 20px
			
		.youtube
			.icon
				width: 27px
				height: 20px		
