include ../../data/socials/socials 

mixin socials(color)
	-
		$type = color || 'mono'

	.socials
		p.socials__subheader Присоединяйтесь в соц.сетях
		ul.socials__list
			each item in $socials
				li.socials__item(class=item.classname)
					a.bit-button.bit-button--white.socials__link(href=`${item.url}`)
						span.visually-hidden #{item.name}
						+icon(item.id, {type: $type})
