.header {
	position: fixed;
	top: 0
	right: 0
	left: 0
	z-index: 1000;

	background-color: #fff

	+before() {
		position: absolute
		inset: 0

		z-index: -2
		
		display: block
		height: 153px
		
		background-color: $color.primary
		opacity: 0
	
		transition: opacity $transition.primary
	}
	
	&__menu {
		+media(tablet) {
			display: flex;
			flex-flow: row nowrap;
			flex-grow: 1;
			padding-left: 30px
		}
		
		+media(desktop) {
			flex-grow: 0;
			order: -1;
			padding-right: 35px;
			padding-left: 0;
		}
	}
	
	&__epilog {
		background-color: #fff;

		+after() {
			position: absolute
			inset: 0

			z-index: -2

			display: block

			background-color: $color.primary
			opacity: 0

			transition: opacity $transition.primary
		
			pointer-events: none;
		}
	}
	
	.container {
		+media(desktop) {
			position: relative
			z-index: 3
		}
	}
	

	&__navigation {
		order: -1;
	}

	&__prolog {
		padding-top: 12px;
		padding-bottom: 40px;

		font-weight: 600;
		font-size: 16px;
		text-align: center;

		background-image: $color.gradient.primary;
		opacity: 1;

		transition: opacity $transition.primary;

		+media(tablet) {
			font-size: 20px
		}
	}

	&__main {
		position: fixed;
		top: 66px;
		right: 0
		left: 0
		z-index: 1

		padding-top: 16px;
		padding-bottom: 16px

		color: #333;

		background-color: #fff;
		border-radius: 25px 25px 0 0;

		transition: transform $transition.primary;
		transition-delay: .2s;

		@media screen and (min-width: 467px) {
			top: 50px
		}
		

		+media(tablet) {
			padding-top: 24px
			padding-bottom: 16px
			border-radius: 33px 33px 0 0;
		}
		
		.container {
			display: flex
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;

			+media(tablet) {
				justify-content: flex-start;
			}
		}

	}

	.bit-button {
		border-color: $color.option.gray

		transition: color $transition.primary,
						border-color $transition.primary
		
	}
	
	&__widgets {
		+media(tablet) {
			margin-left: auto;
		}
		
		.bit-button {
			+hover() {
				color: $color.option.red

				border-color: @color
			}
		}
		
	}

	.contacts__phone {
		display: none
		flex-grow: 1;

		font-weight: 700;
		font-size: 18px;
		text-align: center;
		
		+media(desktop) {
			display: block;
			margin: 0;

			color: $color.primary
		}
	}

	&__profile {
		display: none

		+media(desktop) {
			display: inline-flex;
			margin-right: 20px;
		}
	}

	&__search {
		+media(tablet) {
			display: inline-flex;
			margin-right: 20px;
		}
		
		+media(desktop) {
			visually-hidden();
		}
	}

	&__compare {
		display: none
		
		+media(tablet) {
			display: inline-flex;
			margin-right: 20px;
		}
	}

	&__favourites {
		display: none

		+media(tablet) {
			display: inline-flex;
			margin-right: 20px;
		}
		
		.icon {
			width: 24px
			height: 24px
		}
	}

	&__incoming {
		display: none

		+media(tablet) {
			display: inline-flex;
			margin-right: 0;
		}
		
		+media(desktop) {
			display: none;
		}
	}

	&__busket {
		display: none

		+media(desktop) {
			display: inline-flex;
			order: -1;
			margin-right: 0;
		}
	}

}

.header-categories {
	display: flex;
	flex-flow: row nowrap;
	align-items: center

	color: $color.primary-white;
	font-weight: 700;
	font-size: 16px;
	line-height: 180%;

	background-color: $color.primary;
	
	&__item {
		flex-grow: 0;
		flex-shrink: 0;
		padding: 4px 16px; 

		border-radius: 8px;
		
		+media(tablet) {
			display: inline-flex
			align-items: center
			height: 40px;
			padding-right: 20px;
			padding-left: 20px;
		}
		
		&--active {

			background-color: $color.option.red;
			
			+media(tablet) {
				margin-right: 15px;
				padding-right: 20px;
				padding-left: 20px;
			}
		}
	}
	
	
} 



.logo {
	display: block
	width: 60px;
	height: 40px;

	+media(tablet) { 
		width: 96px;
		height: 63px; 
		margin-right: auto;
		margin-left: auto;
	}
	
	+media(desktop) {
		order: -1;
		margin-right: 35px;
	}

	img {
		width: 100%;
		height: 100%;
	}
}	

.epilog {
	padding-top: 5px
	position: fixed
	top: 133px
	right: 0
	left: 0
	
	transition: transform $transition.primary;
	transition-delay: .2s;

	@media screen and (min-width: 467px) {
		top: 117px
	}
	
	+media(tablet) {
		top: 148px
	}
	
	&__categoreies-wrapper {
		display: flex;
		flex-flow: row nowrap
		flex-grow: 1
		
		padding: 5px 12px 4px
		
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;

		
		background-color: #333;
		border-radius: 8px;
		
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}


		+media(desktop) {
			padding: 0
			overflow-x: hidden
		}
	}
	
	&__inner {
		display: flex
		align-items: center
		justify-content: flex-start;
		width: 100%
		
		+media(desktop) {
			position: relative
			z-index: 7
		}
	}
	
	&__wrapper {
		position: relative;

		+media(desktop) {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			padding: 5px 12px;

			color: $color.primary-white;

			background-color: $color.primary;
			border-radius: 8px;

			+after() {
				position: absolute
				inset: 0

				z-index: -5

				display: block

				background-color: $color.primary
				opacity: 0
			
				transition: opacity $transition.primary

			}
		}
	}
	
	&::before {
		position: absolute

		display: block
		//stylelint-disable
		box-shadow: 0 7px 10px 0 rgba(51, 51, 51, 25%);
		//stylelint-enable
		
		opacity: 0

		transition: opacity $transition.primary;

		content: ''
		inset: 0
	}
}	

.epilog-widgets {
	display: none;

	&__search {
		margin-right: 16px
	}

	+media(desktop) {
		display: block;
	}
}
	
.location
	.icon
		&:first-child
			width: 16px
			height: 16px
		
		&:last-child
			margin-top: 2px
			width: 10px
			height: 10px
			
.js-header--fixed {
	.header__main,
	.header__epilog {
		transform: translateY(-50px);
	}
	
	.header__main {
		top: 50px
	}
	
	.header__epilog {
		padding-bottom: 12px
		top: 113px
		
		+media(tablet) {
			top: 136px
		}

		+media(desktop) {
			top: 141px
		    
		}
	}

	.epilog::before {
		opacity: 1;
	}
	
	.header__prolog {
		opacity: 0;
	}

	.header__main {
		padding-top: 12px
		z-index: 1;

		border-radius: 0;
	}
	
	.is-burger {
		bottom: initial;

		min-height: calc(100vh - 150px);
		
		+media(tablet) {
			min-height: calc(100vh - 180px);
		}
		
		+media(desktop) {
			min-height: initial;
		}
	}
	
}

.is-authorized {
	.header__profile {
		background-color: $color.primary-yellow
		
		+hover() {
			border-color: transparent
		}
	}
}
