.inspirations {
	color: $color.primary;

	background-color: $color.primary-white;

	&__list {
		+media(tablet) {
			display: grid
			grid-template-rows: repeat(4, 1fr)
			grid-template-columns: repeat(2, 1fr)
			gap: 24px

			overflow: visible
		}

		+media(desktop) {
			grid-auto-flow: column;
			grid-template: "a b sidebar" "c d sidebar";

		}
	}

	&__item {
		flex-grow: 0
		flex-shrink: 0
		width: 100%
		height: 211px

		&:last-child {
			+media(tablet) {
				grid-row: 3 / -1
				grid-column: 1 / -1
			}

			+media(desktop) {
				grid-area: sidebar;
				width: 100%;
				min-width: 588px;
				height: 100%;
			}
		}

		+media(tablet) {
			width: initial
			height: initial
			margin: 0
			aspect-ratio: 1.55
		}

		+media(desktop) {
			min-width: 282px
		}
	}
}

.inspirations-cards {
	//position: relative
	height: 0;

	.card-inspiration {
		position: absolute
		z-index: -999;

		width: 1px
		height: 1px
		overflow: hidden;

		visibility: hidden
		opacity: 0

		transition: opacity $transition.primary

		&--open {
			z-index: 8

			width: initial
			height: initial
			overflow: visible

			visibility: visible
			opacity: 1
		}

	}
}

.inspiration {
	position: relative

	&__banner {
		width: 100%
		height: 100%;
		padding: 40px

		border-radius: 20px
	}

	&__description {
		position: absolute
		inset: 0;

		z-index: 5;
	}

	&:nth-child(1) {
		.inspiration-locator {
			+media(tablet) {
				--position-x: 84%;
				--position-y: 76%;
			}
			
			+media(laptop) {
				--position-x: 400px;
				--position-y: 237px;
			}
			
			@media screen and (min-width: 1024px) {
				--position-x: 420px;
				--position-y: 247px;
			}

			+media(desktop) {
				--position-x: 235px;
				--position-y: 130px;
			}
		}
	}

	&:nth-child(2) {
		.inspiration-locator {
			+media(tablet) {
				--position-x: 50%;
				--position-y: 76%;
			}
			
			+media(laptop) {
				--position-x: 200px;
				--position-y: 260px;
			}
			
			@media screen and (min-width: 1024px) {
				--position-x: 60px;
				--position-y: 240px;
			}

			+media(desktop) {
				--position-x: 235px;
				--position-y: 130px;
			}
		}
	}

	&:nth-child(3) {
		.inspiration-locator {
			+media(tablet) {
				--position-x: 50%;
				--position-y: 76%;
			}
			
			@media screen and (min-width: 1024px) {
				--position-x: 424px;
				--position-y: 260px;
			}

			+media(desktop) {
				--position-x: 130px;
				--position-y: 130px;
			}
		}
	}

	&:nth-child(4) {
		.inspiration-locator {
			+media(tablet) {
				--position-x: 50%;
				--position-y: 76%;
			}
			
			@media screen and (min-width: 1024px) {
				--position-x: 50px;
				--position-y: 260px;
			}

			+media(desktop) {
				--position-x: 220px;
				--position-y: 130px;
			}
		}
	}

	&:nth-child(5) {
		.inspiration-locator {
			+media(tablet) {
				--position-x: 50%;
				--position-y: 76%;
			}
			
			@media screen and (min-width: 1024px) {
				--position-x: 540px;
				--position-y: 570px;
			}

			+media(desktop) {
				--position-x: 300px;
				--position-y: 330px;
			}
		}
	}
}
	
	/* stylelint-disable */

.inspiration-locator {
	--position-x: 48%;
	--position-y: 70%;

	position: absolute
	top: var(--position-y);
	left: var(--position-x);
	z-index: 5

	align-items: center
	justify-content: center
	width: 40px
	height: 40px

	color: $color.primary-yellow

	transition: color $transition.primary

	+hover() {
		color: $color.option.red
	}

	.icon {
		width: 22px
		height: 22px

		border-radius: 70px
		filter: drop-shadow(1px 1px 2px $color.option.dark-gray);
	}

	&__open {
		--position-x: 77px;
		--position-y: 0px;
		
		position: absolute;
		top: var(--position-y);
		left: var(--position-x);
		z-index: 10;

		width: 28px;
		height: 28px;

		color: #333;
		
		
		
		+media(desktop) {
			--position-x: 242px;
			--position-y: 1px;
		}
		
		+media(tablet) {
			--position-x: 127px;
			--position-y: 6px;
		}

	}

}
	
.card-inspiration {
	top: var(--move-y);
	left: var(--move-x);
}
/* stylelint-enable */

