include ../../data/inspirationData

section.section.inspirations.js-inspirations
	.container
		h2.section__header.inspirations__header Подборки для вдохновения
		.inspirations-cards
			each inspiration,index in inspirationData
				+cardInspiration(inspiration)(data-card=index)
		.inspiration__inner.swiper
			.inspirations__list.swiper-wrapper
				each inspiration,index in inspirationData
					.inspirations__item.inspiration.swiper-slide
						.inspiration__banner.page-image
							if inspiration.cover.responsive
								+picture(inspiration.cover.src, {
									alt: inspiration.cover.alt,
									responsive: inspiration.cover.responsive
								})
							else
								+picture(inspiration.cover.src, {
									alt: inspiration.cover.alt
								})
						.inspiration__description
							button.inspiration-locator.js-inspiration-button.js-inspiration-button--open(type="button", data-index=index, aria-label="Открыть подборку")
								+icon('round-button-icon')
								

