.form {
	width: 100%
	max-width: 500px
	padding: 16px

	border: 1px solid $color.option.dark-gray
	border-radius: 8px;
	
	&__legend {
		margin-bottom: 16px

		color: $color.primary
		font-weight: 700
		font-size: 24px
		text-align: center
	}
	
	&__description {
		margin-bottom: 24px

		font-weight: 400
		font-size: 16px
		text-align: center
	}
	
	&__buttons {
		margin-top: 10px
		
		.button {
			padding-right: 30px
			padding-left: 30px
			
			&:first-child {
				margin-right: 16px
			}
		}
	}
	
	&__field {
		margin-bottom: 5px
	}
	
	&__label {
		font-size: 14px
	}
}
	
