-
	const headerCatalog = [
		{
			caption: 'Напольные покрытия',
			icon: 'catalog-item_1',
			active: true,
			empty: false,
			target: 'page-1',
			content: [
				{
					name: 'Напольные покрытия',
					items: [
						{
							href: 'javascript:void(0);',
							title: 'Линолеум',
						},
						{
							href: 'javascript:void(0);',
							title: 'Ламинат',
						},
						{
							href: 'javascript:void(0);',
							title: 'Паркетная доска',
						},
						{
							href: 'javascript:void(0);',
							title: 'Инженерная доска',
						},
						{
							href: 'javascript:void(0);',
							title: 'ПВХ-плитка',
						},
						{
							href: 'javascript:void(0);',
							title: 'SPC Ламинат',
						},
						{
							href: 'javascript:void(0);',
							title: 'Кварцвиниловый ламинат',
						}
					]
				},
				{
					news: true,
					name: 'Новинки',
					items: [
						{
							href: 'javascript:void(0);',
							title: 'Линолеум Juteks',
						},
						{
							href: 'javascript:void(0);',
							title: 'Линолеум Forbo',
						},
						{
							href: 'javascript:void(0);',
							title: 'Линолеум IVC',
						},
						{
							href: 'javascript:void(0);',
							title: 'Линолеум LG Hausys',
						}
					]
				},	  
			]
		},
		{
			caption: 'Стенные панели',
			icon: 'catalog-item_2',
			target: 'page-2',
			cover: './images/no-data-item__1.svg',
		},
		{
			caption: 'Аксессуары для полов',
			icon: 'catalog-item_3',
			empty: false,
			target: 'page-3',
			content: [
				{
					name: 'Аксессуары для полов',
					items: [
						{
							href: 'javascript:void(0);',
							title: 'Плинтус',
						},
						{
							href: 'javascript:void(0);',
							title: 'Пороги',
						},
						{
							href: 'javascript:void(0);',
							title: 'Подложка',
						},
						{
							href: 'javascript:void(0);',
							title: 'Паркетная химия',
						},
						{
							href: 'javascript:void(0);',
							title: 'Аксессуары для напольных покрытий',
						},
					]
				},
			]
		},
		{
			caption: 'Услуги',
			icon: 'catalog-item_4',
			target: 'page-4',
			cover: './images/no-data-item__2.svg',
		},
	];
	
	headerCatalogIntro = {
		name: 'Доставка за 1 рубль',
		href: 'javascript:void(0);',
		src: './images/order.jpg',
	};
