.header-navigation {
	&__item {
		font-weight: 400;

		+media(desktop) {
			margin-right: 20px;

			font-size: 14px
		}
		
		a {
			+hover() {
				color: $color.option.red
			}

			+active() {
				color: $color.option.red
			}
		}	
		
		+hover() {
			color: $color.option.red
		}

		+active() {
			color: $color.option.red
		}
	}
	
	&__link {
		display: flex
		flex-grow: 1
		align-items: center
		justify-content: space-between

		+media(desktop) {
			display: block;
			flex-grow: 0
			flex-shrink: 0
		}
	}

}
