// stylelint-disable
.epilog-widgets {
	padding-right: 30px;
	padding-left: 30px

}
	
.header-catalog
	position: fixed
	top: -800px
	right: 0
	left: 0
	z-index: 10
	
	transition: transform $transition.primary
	
	&__link
		+hover()
			color: $color.option.orange

	.js-active
		.icon:last-child
			color: $color.option.orange
	
		button
			font-weight: 600;

			background-color: $color.option.gray
	
	&__search
		display: none
		margin-right: 30px
		
		transition: color $transition.primary,
						background-color $transition.primary;
		
		+media(desktop) {
			display: inline-flex
		}
		
		+hover() {
			color: $color.primary-yellow;

			border-color: @color;
		}
	
	.column--no-data
		width: 100%;

		background-repeat: no-repeat;
		background-position: 0 bottom;
		background-size: 292px 340px;


	.column--new
		.header-catalog__item
			color: $color.option.red
	
	&__item:not(:last-child)
		margin-bottom: 16px
	
	&__title
		margin-bottom: 16px

		font-weight: 600;
		font-size: 24px
		
	&__list
		font-weight: 400;
		font-size: 16px
	
	&-intro
		flex-grow: 1;
		max-width: 262px

	
	&-views
		width: 100%;
		max-width: 550px
		
	&-view
		visually-hidden()
		
		transition: opacity $transition.primary
		transition-delay: .2s
		
		.simplebar-content
			height: 100%

		&.js-active
			is-visible()
			height: 100%
			padding-right: 50px
			padding-bottom: 16px
			padding-left: 50px
			overflow: auto
		
		&__inner
			display: flex
			flex-flow: row nowrap
			justify-content: space-between;
			height: 100%

	&__body
		display: flex
		height: 450px
		padding: 30px
		overflow: hidden;

		color: $color.primary
		font-weight: 400
		font-size: 18px

		background-color: $color.primary-white
		border-radius: 0 0 8px 8px;

		box-shadow: 0 7px 10px 0 rgba(51, 51, 51, 0.25);
		
		

.header-catalog-navigation
	width: 100%;
	max-width: 328px;
	
	&__button
		display: flex
		align-items: center
		justify-content: flex-start
		width: 100%
		padding: 16px

		border-radius: 8px
		
		.icon
			&:first-child
				width: 26px
				height: 18px
				
			
			&:last-child
				width: 12px
				height: 13px;
				margin-left: auto
		
	


.header-catalog-navigation
	&__item
		.icon
			&:last-child
				display: none
				
		&.has-content
			.icon
				&:last-child
					display: inline-flex

.header-catalog-intro
	overflow: hidden;

	border-radius: 8px
	
	img
		width: 100%
		height: 100%
		object-fit: cover
		
.button-catalog {
	+media(desktop) {
		display: inline-flex


	}

}		
	
.header-catalog--open {
	overflow: hidden

	.button-catalog {
		+media(desktop) {
			display: none

			&--open {
				display: inline-flex
			}
		}

	}

	.epilog {
		&::before {
			+media(desktop) {
				opacity: 1
			}
		}
	}

	.header-catalog {
		+media(desktop) {
			transform: translateY(1010px)
		}
	}
	
	&.js-header--fixed {
		.header-catalog {
			+media(desktop) {
				transform: translateY(950px)
			}
		}
	}
}

.menu--open .epilog {
	visibility: hidden
	opacity: 0
}



