.section {
	padding-top: $size.padding.mobile
	padding-bottom: $size.padding.mobile
	
	+media(desktop) {
		padding-top: $size.padding.desktop
		padding-bottom: $size.padding.desktop
	}
	
	&__header {
		margin-bottom: 24px
		font-size: $font.size.section-header.mobile px
		font-weight: 600

		+media(tablet) {
			font-size: $font.size.section-header.desktop px
		}
	}
}
