-
	const widgets = [
		{
			id: 'profile',
			classname: 'header__profile js-header-profile js-modal',
			type: 'button',
			href: 'javascript:void(0);',
			title: 'Профиль',
			modal: 'modal-login',
			width: 20,
			height: 20
		},
		{
			id: 'search',
			classname: 'header__search js-header-search-mobile',
			type: 'button',
			href: 'javascript:void(0);',
			title: 'Поиск',
			width: 20,
			height: 20
		},
		{
			id: 'compare',
			classname: 'header__compare js-header-compare',
			type: 'button',
			href: 'javascript:void(0);',
			title: 'Сравнение',
			width: 20,
			height: 20
		},	  
		{
			id: 'favourites',
			classname: 'header__favourites js-header-favourites js-header-counter-widget',
			type: 'button',
			href: 'javascript:void(0);',
			title: 'Избранное',
			width: 20,
			height: 20
		},	  
		{
			id: 'callback',
			classname: 'bit-button--yellow header__incoming js-modal',
			type: 'button',
			href: 'javascript:void(0);',
			modal: 'modal-callback',
			title: 'Позвонить',
			width: 18,
			height: 18
		},
		{
			id: 'busket',
			classname: 'header__busket js-header-busket js-header-counter-widget',
			type: 'button',
			href: 'javascript:void(0);',
			title: 'Корзина',
			width: 20,
			height: 20
		}	  
	]
