-
	const headerNavigation = [
		{
			name: 'Москва',
			href: '#modal-city',
			content: true,
			tablet: true,
			desktop: true,
			modal: 'modal-city'
		},
		{
			name: 'Акции',
			href: 'javascript:void(0);',
			desktop: true,
		},
		{
			name: 'Доставка',
			href: 'javascript:void(0);',
		},
		{
			name: 'Оплата',
			href: 'javascript:void(0);',
		},
		{
			name: 'Вакансии',
			href: 'javascript:void(0);',
		},
		{
			name: 'Сотрудничество',
			href: 'javascript:void(0);',
			content: true,
			menu: [
				{
					name: 'Дизайнерам',
					href: 'javascript:void(0);'
				},
				{
					name: 'Корпоративным клиентам',
					href: 'javascript:void(0);'
				},
				{
					name: 'Арендодателям',
					href: 'javascript:void(0);'
				}	  
			]
		},
	]
	

