-
	const headerEpilogCategories = [
		{
			active: true,
			title: 'Магазины',
			href: '#',
		},
		{
			title: 'Линолеум',
			href: '#',
		},
		{
			title: 'Ламинат',
			href: '#',
		},
		{
			title: 'Паркетная доска',
			href: '#',
		},
		{
			title: 'Инженерная доска',
			href: '#',
		},
		{
			title: 'ПВХ-Ламинат',
			href: '#',
		},
	]
