-
	const footerData = {
		navigation: [
			{
				title: "Дизайнерам",
				href: "javascript:void(0);"
			},
			{
				title: "О магазине",
				href: "javascript:void(0);"
			},
			{
				title: "Корпоративным клиентам",
				href: "javascript:void(0);"
			},
			{
				title: "Арендодателям",
				href: "javascript:void(0);"
			},
			{
				title: "Новости",
				href: "javascript:void(0);"
			},
			{
				title: "Бренды",
				href: "javascript:void(0);"
			},
			{
				title: "Оплата",
				href: "javascript:void(0);"
			},
			{
				title: "Доставка",
				href: "javascript:void(0);"
			},
			{
				title: "Услуги",
				href: "javascript:void(0);"
			},
			{
				title: "Управдом поможет",
				href: "javascript:void(0);"
			},
		],

		socials: [
			{
				id: "vk",
				classname: "vk",
				name: "В Контакте",
				url: "javascript:void(0);",
				width: 30,
				height: 16,
			},
			{
				id: "telegram",
				classname: "telegram",
				name: "Telegram",
				url: "javascript:void(0);",
				width: 23,
				height: 20,
			},
			{
				id: "youtube",
				classname: "youtube",
				name: "Youtube",
				url: "javascript:void(0);",
				width: 27,
				height: 20,
			}
		]
	}

