.swiper-pagination-bullet {
	width: 6px;
	height: 6px;

	background-color: $color.primary;
	opacity: .6;

	transition: width $transition.primary

	&-active {
		width: 12px;

		border-radius: 6px;
		opacity: 1
	}
}

.swiper-pagination {
	padding: 8px 16px;

	border-radius: 25px
}
