mixin modal-feedback(data = [], options = {})
	.modal-feedback&attributes(attributes)
		.modal-feedback__title Обращение № 12345678 от 22.12.2023
		.modal-feedback__body
			dl.modal-feedback__list
				.modal-feedback__item
					dt.modal-feedback__prop Имя:
					dd.modal-feedback__value Иван
				.modal-feedback__item
					dt.modal-feedback__prop Телефон:
					dd.modal-feedback__value +7 (977) 777 77 77
				.modal-feedback__item
					dt.modal-feedback__prop E-mail:
					dd.modal-feedback__value aaa@mai.ru
				.modal-feedback__item
					dt.modal-feedback__prop Магазин:
					dd.modal-feedback__value Воронеж, ул. Владимира Невского, д. 1

			.modal-feedback__box
				.modal-feedback__prop Текст обращения:
				.modal-feedback__text Магазин с отличным выбором напольного покрытия и с прекрасными специалистами. Зашла сначала просто ознакомительно посмотреть ассортимент для грядущего ремонта, но директор Антон просто покорил высочайшим уровнем сервиса во время консультации, показал мне все желаемые образцы, ответил на все мои вопросы, подсказывал, направлял, но при этом ничего не навязывал. Рассказал всё про виды кварцвинила, про его свойства, про подложки и прочее. В итоге через пару месяцев вернулась в этот магазин и оформила заказ на тот кварцвинил, в который влюбилась. Жду доставку) Ещё очень удобно, что ребята идут навстречу и дают образцы, чтобы взять в рядом находящийся магазин обоев, чтобы примериться по цвету. Отличный сервис, работают профессионалы. Антон, спасибо за вашу любовь к работе и приятное общение! Магазину процветания и много новых клиентов!)

			dl.modal-feedback__list
				.modal-feedback__item
					dt.modal-feedback__prop Статус обращения:
					dd.modal-feedback__value.modal-feedback__value--color Ответ поступит на почту
