mixin modalCookies()
	.modal-cookies.js-modal-cookies
		p На нашем сайте мы используем cookie файлы
		a.cookie__link(href="#" title="Узнать подробнее") Узнать подробнее
		button.cookie__close.js-modal-cookies-close(type="button")
			span.cookie__caption Понятно
