.modal-cookies {
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-start

	font-size: 14px
	
	p {
		margin-bottom: 8px
	}
	
	.cookie__link {
		margin-bottom: 20px
	}
	
	.cookie__close {
		max-width: 100%
	}
}

.modal-message--cookies {
	.modal__body {
		min-height: 300px;
		
		+media(tablet) {
			min-height: 200px;    
		}
	}
}	
