.checkout-organization
	display none
	grid-template-columns auto 1fr
	gap 10px
	padding 12px
	font-size 16px
	border 2px solid var(--color-option-dark-gray)
	border-radius 4px
	&--active
		display grid
	&__name
		font-weight 600
	&__value
		max-width 611px
