.cart-print-header
	display grid
	grid-template-areas 'date name' 'logo title' 'logo tel'
	justify-content space-between
	padding-block 17px 30px
	&__logo
		grid-area logo
		width 125px
		height 82px
	&__date
		grid-area date
		margin-bottom 17px
		font-size 12px
	&__name
		grid-area name
		justify-self end
		margin-bottom 17px
		font-size 12px
	&__title
		grid-area title
		justify-self end
		align-self end
		font-size 18px
		font-weight 600
	&__tel
		grid-area tel
		justify-self end
		align-self start
		font-size 24px
		font-weight 700
