.personal-checks
	&__block
		margin-bottom: 24px

	&__label
		display: inline-flex
		margin-bottom: 16px
		padding: 10px 20px

		font-weight: 600
		font-size: 16px
		line-height: normal

		background-color: #FFF7B2
		border-radius: 12px

	&__item
		position: relative

		margin-bottom: 12px
		padding: 16px 140px 16px 16px

		border: 1px solid $color.option.gray
		border-radius: 12px

		&:last-child
			margin-bottom: 0

		+media(tablet)
			display: flex
			gap: 16px
			align-items: center
			justify-content: space-between
			padding: 16px 20px

	&__name
		font-weight: 600
		font-size: 16px
		line-height: normal

	&__text
		margin-top: 9px

		font-weight: 400
		font-size: 16px
		line-height: normal

		+media(tablet)
			margin-top: 0

	&__button
		position: absolute
		top: 50%
		right: 16px

		display: flex
		align-items: center
		justify-content: center
		width: 108px
		padding: 12px 24px

		font-weight: 600
		font-size: 16px
		line-height: normal

		background-color: $color.primary-yellow
		border-radius: 8px

		transform: translateY(-50%)

		.icon
			display: none

		+hover()
			background-color: #FFF7B2

		+active()
			background-color: $color.option.orange

		+media(tablet)
			position: static

			flex-shrink: 0
			width: 162px

			transform: translateY(0)

		&.active
			background-color: $color.option.orange

			span
				display: none

			.icon
				display: block
				width: 21px
				height: 21px
