.card-button--black
	overflow: hidden;

	color: $color.primary-white

	background-color: $color.button.background
	border-width: 0;

	transition: border-color $transition.primary;
	
	background-gradient($color.gradient.primary)

	+hover()
		color: $color.primary-white

		background-color: #333;
		border-color: $color.primary-yellow;
	
		&::before
			opacity: 1;

	+active()
		color: $color.primary-white

		background-color: #333;
		border-color: $color.primary-yellow;

		&::before
			opacity: 1;
