.button--callback 
	height: 40px
	padding: 0 8px

	color: $color.primary
	
	font-size: 14px

	background-color: $color.primary-white
	border-color: $color.primary-white
	

	transition: background-color $transition.primary,
					border-color $transition.primary
	
	&__caption
		position: relative
		z-index: 1
	
	+media(desktop)
		font-size: 18px
	
	+hover()
		background-color: $color.option.gray
		border-color: $color.option.gray

	+active()
		background-color: $color.option.gray
		border-color: $color.option.gray

	.icon:first-child
		width: 20px
		height: 20px;
		margin-right: 10px

	.icon:last-child
		margin-left: 10px


