.button-primary
	position: relative

	display: inline-flex
	align-items: center
	justify-content: center
	width: 100%
	max-width: 250px
	height: 54px

	color: $color.primary
	font-weight: 600
	font-size: 18px
	text-align: center

	background-color: transparent;

	border: 2px solid @color
	border-radius: 4px

	transition: color $transition.primary,
					border-color $transition.primary


	+hover()
		color: @border-color;

		border-color: $color.button.border-hover

	+active()
		color: @border-color;

		border-color: $color.button.border-active
