.button-to-busket
	color: $color.primary-white;

	background-color: $color.primary;
	border-radius: 4px

	background-gradient($color.gradient.primary)

	transition: border-color $transition.primary;
	
	
	+hover()
		color: $color.primary-white;

		background-color: #333;
		border-color: $color.primary-yellow;
		
		&::before
			opacity: 1;

	+active()
		color: $color.primary-white;

		background-color: #333;
		border-color: $color.primary-yellow;

		&::before
			opacity: 1;
	
	.icon
		display: none
	
	&--selected
		width: 100%
		max-width: 158px

		color: #333

		background-color: $color.primary-yellow
		border-color: $color.primary-yellow

		transition: none;
		
		+hover() {
			background-color: $color.primary-yellow;

			&::before,
			&::after {
				display: none
			}
		}
		
		+media(laptop)
			max-width: 162px
		
		+media(desktop) {
			transition: border-color $transition.primary;
		}
		
		
		.button__caption
			display: none
		
		.icon:last-child
			display: block
			width: 24px
			height: 17px;
			margin: 0

