.button
	position: relative 

	display: inline-flex
	align-items: center
	justify-content: center

	height: 36px
	padding: 0 38px
	overflow: hidden;

	color: #fff;
	font-weight: 600
	font-size: 16px
	line-height: 1
	text-align: center

	background-color: #333;
	border: 1px solid #333;
	border-radius: 4px

	transition: background-color $transition.primary,
					border-color $transition.primary
	
	&__caption
		position: relative
		z-index: 1
	
	+media(laptop)
		&:not(.button--callback)
			height: 40px;

			font-size: 18px
	
	+hover()
		background-color: $color.button.background-hover
		border-color: $color.button.border-hover

	+active()
		background-color: $color.button.background-active
		border-color: $color.button.border-active

	.icon
		flex-shrink: 0
		width: 16px
		height: 16px

	.icon:first-child
		margin-right: 10px

	.icon:last-child
		margin-left: 10px

	&.loading
		color: transparent

	&.loading > *
		visibility: hidden
		opacity: 0

	&.loading::before
		background-color: $color.background.primary

	&[disabled] {
		cursor: not-allowed
		
		border-color: $color.option.dark-gray
		background-color: $color.option.dark-gray
		
		+hover() {
			border-color: $color.option.dark-gray
			background-color: $color.option.dark-gray
		}
		
		+active() {
			border-color: $color.option.dark-gray
			background-color: $color.option.dark-gray
		}
	}
		
	&--red
		padding: 0 33px

		color: $color.primary-white

		background-color: $color.option.red
		border-color: $color.option.red

		+hover()
			background-color: $color.primary-red
			border-color: @background-color
