.button-download
	width: 100%
	max-width: 108px
	height: 45px

	color: $color.primary;

	background-color: $color.primary-yellow;
	border: 1px solid @background-color;
	border-radius: 8px

	transition: border-color $transition.primary;

	background-gradient($color.gradient.primary)
	
	.icon 
		display: none
	
	
	&--done
		background-color: $color.option.orange
		border-color: @background-color

		pointer-events: none
		
		.icon:last-child
			display: block
			height: 17px;
			margin: 0
		
		.button__caption
			display: none
		
	
	+media(desktop) {
		max-width: 152px 
	}
	

	+hover()
		color: $color.primary-white

		background-color: $color.primary-yellow;
		border-color: $color.primary-yellow;
		
		&::before
			opacity: 1;

	+active()
		color: $color.primary-white

		background-color: $color.primary-yellow;
		border-color: $color.primary-yellow;
	
		&::before
			opacity: 1;
			
			

