.button-primary-add-goods
	display: inline-flex
	width: 100%
	max-width: 224px
	height: 50px

	color: $color.primary
	font-size: 16px

	background-color: $color.primary-yellow;
	border: 2px solid @background-color

	transition: background-color $transition.primary,
					border-color $transition.primary
	
	+media(desktop) {
		display: inline-flex
	}

	+hover()
		color: @border-color;

		border-color: $color.button.border-hover

	+active()
		color: @border-color;

		border-color: $color.button.border-active

	.icon:first-child
		width: 20px
		height: 20px
		margin-right: 10px
		
	&--disabled
		color: $color.option.dark-gray

		background-color: $color.option.gray;
		border-color: $color.option.gray

		pointer-events: none

	&--short
		max-width: 81px
		
		.button__caption
			display: none
		
		.icon:first-child
			margin: 0
		
