.button-primary--red

	background-color: transparent;
	
	&::before
		position: absolute
		z-index: 1

		display: block

		border-color: $color.primary;
		border-radius: 4px

		content: ''
		inset: -2px

	border-gradient(2px, 4px, $color.primary-red, $color.gradient.red)

	//transition: color $transition.primary,
	//				border-color $transition.primary

	&::after
		position: absolute
		z-index: -1;

		display: block;

		background-image: $color.gradient.red;
		border-radius: 4px;
		opacity: 0;

		transition: opacity $transition.primary;

		content: ''
		inset: 0;
	
	+hover()
		color: $color.primary-white

		border-width: 0
		
		&::before
			display: none

		&::after
			opacity: 1

			transition: opacity $transition.primary;

