.button-primary-filter
	display: inline-flex
	height: 50px
	overflow: hidden;

	font-size: 14px

	background-color: $color.primary-white
	border-color: $color.primary-white
	border-width: 0

	border-radius: 8px
	
	transition: border-color $transition.primary,
					color $transition.primary;

	background-gradient($color.gradient.primary)

	+hover()
		color: $color.primary-white

		border-color: $color.primary-yellow;

		&::before
			opacity: 1;

	+active()
		color: $color.primary-white

		border-color: $color.primary-yellow;

		&::before
			opacity: 1;


	&--disable
		color: rgb(51 51 51 / 50%)

		background-color: $color.option.gray;

		pointer-events: none
