section.section.subscribe
	.container.subscribe__inner
		h2.section__header.subscribe__header Получайте самые интересные предложения первыми!
		form.subscribe__form.subscribe-form(action="#" method="post" autocomplete="off" novalidate)
			label.subscribe-form__field.subscribe-form-field
				span.subscribe-form-field__placeholder Email
				input.subscribe-form-input.subscribe-form__input.email(type="email" autocomplete="off" required)
				span.subscribe-form-field__message Поле не должно быть пустым
			button.button-primary.button-primary-send.subscribe-button(type="button")
				+icon('base-send-email')
				span.button__caption Подписаться
