-
	const cityHistory = [
		{
			name: 'Москва',
			code: 'msk',
			isSelect: true
		},
		{
			name: 'Ангарск',
			code: 'ang',
			isSelect: false
		},
		{
			name: 'Великий Новгород',
			isGroupLeader: true,
			code: 'vng',
			isSelect: false
		},
		{
			name: 'Екатеринбург',
			code: 'ekb',
			isGroupLeader: true,
			isSelect: false
		},
		{
			name: 'Иркутск',
			code: 'irk',
			isSelect: false
		},

		{
			name: 'Казань',
			code: 'kzn',
			isGroupLeader: true,
			isSelect: false
		},
		{
			name: 'Набережные Челны',
			isGroupLeader: true,
			code: 'nch',
			isSelect: false
		},
		
		{
			name: 'Октябрьский',
			code: 'okt',
			isGroupLeader: true,
			isSelect: false
		},
		{
			name: 'Орел',
			code: 'olr',
			isSelect: false
		},
		{
			name: 'Оренбург',
			code: 'orb',
			isSelect: false
		},
		{
			name: 'Пенза',
			code: 'pnz',
			isGroupLeader: true,
			isSelect: false
		},
		{
			name: 'Пермь',
			code: 'prm',
			isSelect: false
		},
		{
			name: 'Петрозаводск',
			code: 'ptr',
			isSelect: false
		},
		{
			name: 'Прокопьевск',
			code: 'prk',
			isSelect: false
		},
		{
			name: 'Ростов-на-Дону',
			code: 'rnd',
			isGroupLeader: true,
			isSelect: false
		},

	];
