-
	const bitButtons = [
		{
			id: 'profile',
			classname: 'header__profile js-header-profile',
			type: 'link',
			href: 'javascript:void(0);',
			title: 'Профиль',
			width: 20,
			height: 20
		},
		{
			id: 'compare',
			classname: 'header__compare js-header-compare',
			type: 'link',
			href: 'javascript:void(0);',
			title: 'Сравнить',
			width: 20,
			height: 20
		},
		{
			id: 'favourites',
			classname: 'header__favourites js-header-favourites',
			type: 'link',
			href: 'javascript:void(0);',
			title: 'Избранное',
			width: 20,
			height: 20
		},
		{
			id: 'busket',
			classname: 'header__busket js-header-busket',
			type: 'link',
			href: 'javascript:void(0);',
			title: 'Корзина',
			width: 20,
			height: 20
		}	  
	]
