-
	const coWorkerData = [
		{
			title: 'Корпоративным клиентам',
			text: 'Предлагаем выгодные условия строительным компаниям, офисам, медицинским и образовательным учреждениями, магазинам и т.д.',
			reverse: false,
			image: {
				src: 'co-working/co-working-item_1',
				responsive: [
					{
						media: 'desktop'
					},
					{
						media: 'tablet'
					},

				]
			}
		},
		{
			title: 'Дизайнерам',
			text: 'Предлагаем выгодные условия дизайнерам, архитекторам, дизайн-студиям, конструкторским бюро.',
			reverse: true,
			image: {
				src: 'co-working/co-working-item_2',
				responsive: [
					{
						media: 'desktop'
					},
					{
						media: 'tablet'
					},
		

				]
			}
		},
		{
			title: 'Арендодателям',
			text: 'Приглашаем к сотрудничеству арендодателей',
			reverse: false,
			image: {
				src: 'co-working/co-working-item_3',
				responsive: [
					{
						media: 'desktop'
					},
					{
						media: 'tablet'
					},

				]
			}
		}
	]
