-
    const helpData = [
        {
            name: 'Чем приклеить линолеум к полу?',
            url: 'javascript:void(0);',
            src: 'help/help-item_1',
        },
        {
            name: 'Как выбрать напольное покрытие для кухни: советы и рекомендации',
            url: 'javascript:void(0);',
            src: 'help/help-item_2',
        },
        {
            name: 'ПВХ-плитка с фаской или без: что лучше',
            url: 'javascript:void(0);',
            src: 'help/help-item_3',
        },
        {
            name: 'Как рассчитать ковролин на комнату',
            url: 'javascript:void(0);',
            src: 'help/help-item_4',
        },
    ];
