-
	const heroData = [
		{
			name: 'Оплата онлайн - дополнительная скидка 5%',
			url: 'javascript:void(0);',
			src: 'hero-banner/hero__swiper-slide',
		},
		{
			name: 'Приведи друга - получи подарок!',
			url: 'javascript:void(0);',
			src: 'hero-banner/hero__swiper-slide',
		},
		{
			name: 'При оплате по СБП комиссия 0%',
			url: 'javascript:void(0);',
			src: 'hero-banner/hero__swiper-slide',
		},
	];
