-
	const inspirationData = [
		{
			cover: {
				src: 'inspiration/cover/inspiration-item_1',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: `<span>32 класс, толщина 8 мм,</span><span> Без фаски</span>`,
			image: {
				src: 'inspiration/items/item_1',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			},
			button: {
				top: '70%',
				left: '220px',
			}
		},
		{
			cover: {
				src: 'inspiration/cover/inspiration-item_2',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: `<span>32 класс, толщина 8 мм,</span><span> Без фаски</span>`,
			image: {
				src: 'inspiration/items/item_1',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			},
			button: {
				top: '60%',
				left: '210px',
			}
		},
		{
			cover: {
				src: 'inspiration/cover/inspiration-item_3',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: `<span>32 класс, толщина 8 мм,</span><span> Без фаски</span>`,
			image: {
				src: 'inspiration/items/item_1',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			},
			button: {
				top: '60%',
				left: '50%',
			}
		},
		{
			cover: {
				src: 'inspiration/cover/inspiration-item_4',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: `<span>32 класс, толщина 8 мм,</span><span> Без фаски</span>`,
			image: {
				src: 'inspiration/items/item_1',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			},
			button: {
				top: '50%',
				left: '45%',
			}
		}, {
			cover: {
				src: 'inspiration/cover/inspiration-item_5',
				responsive: [
					{
						media: 'desktop'
					},
					{
						media: 'tablet'
					},
				],
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			caption: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный',
			description: `<span>32 класс, толщина 8 мм,</span><span> Без фаски</span>`,
			image: {
				src: 'inspiration/items/item_1',
				alt: 'Ламинат Swiss Krono Home Standard D7049 WG Дуб Милано Натуральный'
			},
			price: {
				current: '2 420',
				old: '4 200',
				discount: '-10%'
			},
			button: {
				top: '80%',
				left: '50%',
			}
		}
		
	];
