-
	const categories = [
		{
			name: 'Ламинат',
			url: 'javascript:void(0);',
			src: 'recomendations/recommended-group_1',
			responsive: [
				{
					media: 'desktop'
				},
				{
					media: 'tablet'
				},
			]
		},
		{
			name: 'Пробка',
			url: 'javascript:void(0);',
			src: 'recomendations/recommended-group_2',
			responsive: [
				{
					media: 'desktop'
				},
				{
					media: 'tablet'
				},
			]
		},
		{
			name: 'Инженерная доска',
			url: 'javascript:void(0);',
			src: 'recomendations/recommended-group_3',
			responsive: [
				{
					media: 'desktop'
				},
				{
					media: 'tablet'
				},
			]

		},
		{
			name: 'Кварцвинил',
			url: 'javascript:void(0);',
			src: 'recomendations/recommended-group_4',
			responsive: [
				{
					media: 'desktop'
				},
				{
					media: 'tablet'
				},
			]
		},
		{
			name: 'ПВХ-плитка',
			url: 'javascript:void(0);',
			src: 'recomendations/recommended-group_5',
			responsive: [
				{
					media: 'desktop'
				},
				{
					media: 'tablet'
				},
			]
		},
		{
			name: 'Паркетная доска',
			url: 'javascript:void(0);',
			src: 'recomendations/recommended-group_6',
			responsive: [
				{
					media: 'desktop'
				},
				{
					media: 'tablet'
				},
			]
		}
	]
